$pathToFonts: 'fonts'

@mixin font($file, $weight, $svgName, $style: normal)
    @font-face
        font-family: 'Roboto'
        font-style: $style
        font-weight: $weight
        src: url('#{$pathToFonts}/#{$file}.woff2') format('woff2'), url('#{$pathToFonts}/#{$file}.woff') format('woff'), url('#{$pathToFonts}/#{$file}.svg##{$svgName}') format('svg')

@include font(Roboto-Thin, 100, 'Roboto-Thin')
@include font(Roboto-ThinItalic, 100, 'Roboto-Thin', italic)
@include font(Roboto-Light, 300, 'Roboto Light')
@include font(Roboto-LightItalic, 300, 'Roboto Light', italic)
@include font(Roboto-Regular, 400, 'Roboto')
@include font(Roboto-RegularItalic, 400, 'Roboto', italic)
@include font(Roboto-Medium, 500, 'Roboto Medium')
@include font(Roboto-MediumItalic, 500, 'Roboto Medium', italic)
@include font(Roboto-Bold, 700, 'Roboto')
@include font(Roboto-BoldItalic, 700, 'Roboto', italic)
@include font(Roboto-Black, 900, 'Roboto Black')
@include font(Roboto-BlackItalic, 900, 'Roboto Black', italic)
