@import ../../mixins/index
@import ../../variables/index

.SuggestOption
    @include no-tap-highlight
    cursor: pointer
    list-style-type: none
    margin: 0

    i
        color: $color-primary
        font-style: normal
        font-weight: 500

    &_active,
    &_value
        i
            color: inherit

    &_active
        background-color: rgba($color-grey, 0.2)

    &_value
        background-color: $color-primary
        color: $color-white
        i
            color: inherit

    &_disabled
        cursor: not-allowed
        opacity: 0.4

    &_size_s
        @include font-s
        padding: 10px
    &_size_m
        @include font-m
        padding: 14px
    &_size_l
        @include font-l
        padding: 18px
