@import theme

.Header
    height: 100%
    position: relative

    & > div
        align-items: center
        display: flex
        height: 100%
        justify-content: flex-end
        @include from-desktop
            justify-content: space-between

.Header__Container
    margin: 0 auto
    padding-left: 16px
    padding-right: 16px
    @include from-tab
        padding-left: 32px
        padding-right: 32px

.Header__Center
    align-items: center
    display: flex
    flex-grow: 1
    padding-left: 35px
    @include from-tab
        padding-left: 50px
    @include from-desktop
        padding-left: 0

.Header__ThemeChanger

.Header__Logo

.Header__Version
    @include font-xs
    margin-left: 10px
    opacity: 0.5
    @include from-tab
        @include font-m
