.H
    color: $color-text-primary
    font-weight: 600
    margin-top: 0
    // Size
    &_size_1
        @include font-xl
        margin-bottom: 15px
        @include from-tab
            @include font-xxxxxl
            margin-bottom: 25px
    &_size_2
        @include font-l
        margin-bottom: 12px
        @include from-tab
            @include font-xxl
            margin-bottom: 15px
    &_size_3
        @include font-m
        margin-bottom: 12px
        @include from-tab
            @include font-l
            margin-bottom: 15px
