@import theme

.Prop
    display: flex
    flex-direction: row
    & + &
        margin-top: 5px
.Prop__Key
    width: 160px
    @include from-tab
        width: 180px
.Prop__Value
    color: blue
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-content: center
    align-items: center
.Prop__ValueSquare
    @include size(13px)
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25)
    margin-right: 5px

.CodeBlock
    pre
        max-width: 100%

.code
    width: 100%
    max-width: 600px
    white-space: pre
    background: black
    color: #f5bd19
    box-sizing: border-box
    padding: 10px

    border-radius: 8px

.key

.value

.h4
    font-size: 15px
    margin-bottom: 10px

.h2
    font-weight: 500

.h3
    font-weight: 500
    margin-bottom: 20px
