@import ../../mixins/index


.Calendar
    @include font-s

    max-width: 265px
    min-width: 180px
    width: 100%
    min-height: 256px
    box-sizing: border-box
    background: $color-white


.Calendar__Navigation
    width: 100%
    height: 44px

    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center
    align-items: center

    margin-bottom: 1rem

.Calendar__NavigateButton
    height: 100%

    border: none
    outline: none
    background: transparent
    color: $color-grey

    margin: 0
    padding: 0

    cursor: pointer
    svg
        @include size(22px)

.Calendar__Info
    min-width: 124px
    text-align: center
    opacity: .8
    white-space: nowrap
    font-size: inherit !important

.Calendar__Content
    width: 100%
    display: flex
    flex-direction: column


.Calendar__ContentHeader
    width: 100%
    height: 35px
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-content: center
    align-items: center

.Calendar__DayName
    height: 100%
    width: calc(100% / 7)
    display: flex
    justify-content: center
    align-items: center
    box-sizing: border-box
    padding: 4.5px 0
    text-transform: uppercase
    font-weight: 500
    font-size: inherit
    color: $color-grey


.Calendar__Days
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-content: center
    align-items: center
    flex-wrap: wrap


.Calendar__DayWrapper
    width: calc(100% / 7)
    height: 35px
    background: $color-white
    display: flex
    justify-content: center
    align-content: center
    align-items: center


.Calendar__DayButton
    width: 100%
    height: 100%

    display: flex
    justify-content: center
    align-content: center
    align-items: center

    outline: none
    border: none
    cursor: pointer

    font-size: inherit
    background: $color-white

    padding: 0

    transition-property: background, color
    transition-duration: 0.2s

    &:hover:not(&_selected):not(&_disabled)
        background: lighten($color-default, 30%)

    &_today
        background: lighten($color-default, 30%)

    &_selected
        background: $color-green
        color: $color-white !important

        transition-property: background, color
        transition-duration: 0.2s

        &:hover
            background: $color-green

    &_weekday
        color: $color-red

    &_disabled
        cursor: default
        opacity: 0.5
        &:hover
            background: none




