@import ../../mixins/index
@import ../../variables/index

.SelectBox
    background-color: $color-white
    position: relative
    &_disabled,
    &_readonly
        &:after
            background-color: $color-white
            content: ''
            height: 100%
            left: 0
            opacity: 0.3
            position: absolute
            top: 0
            width: 100%
            z-index: 1
    &_disabled
        cursor: no-drop
    &_readonly

.SelectBox__Icon
    @include no-tap-highlight
    align-items: center
    cursor: pointer
    display: flex
    justify-content: center
    opacity: 0.6
    position: absolute
    right: 0
    top: 0
    z-index: 1
    svg
        transform: rotate(-90deg)
    &_size_s
        height: 40px
        width: 30px
        svg
            @include size(16px)
    &_size_m
        height: 50px
        width: 40px
        svg
            @include size(18px)
    &_size_l
        height: 60px
        width: 50px
        svg
            @include size(20px)
    &_suggest_visible
    &_disabled

.SelectBox__Input
    input
        background: transparent
        &[readonly]
            @include placeholder-color($color-text-primary)

    &#{&}_size_s
        input
            padding-right: 30px
    &#{&}_size_m
        input
            padding-right: 40px
    &#{&}_size_l
        input
            padding-right: 50px

.SelectBox__SuggestWrapper
    background-color: $color-white
    border: 1px solid darken($color-default, 20%)
    border-radius: 4px
    box-sizing: border-box
    display: none
    opacity: 1
    overflow: hidden
    position: absolute
    transition: margin .2s ease, opacity .2s ease
    width: 100%
    z-index: 4
    &_closing
        opacity: 0
    &_opening
        margin-top: 10px
        opacity: 0
    &_visible
        display: block
    &#{&}_size_s
        top: 42px
    &#{&}_size_m
        top: 52px
    &#{&}_size_l
        top: 62px

.SelectBox__Suggest
    -webkit-overflow-scrolling: touch
    max-height: 264px
    overflow: auto
    width: calc(100% + 20px)

.SelectBox__NotFound
    opacity: 0.5
    &_size_s
        @include font-s
        padding: 10px
    &_size_m
        @include font-m
        padding: 14px
    &_size_l
        @include font-l
        padding: 18px
