@import ../../mixins/index

.Radio

.Radio__Label
    margin-bottom: 10px
    display: block
    position: relative
    cursor: pointer
    input
        opacity: 0
        position: absolute

    &:before
        content: ''
        position: absolute
        left: 0
        top: 50%
        transform: translateY(-50%)
        border: 1px solid lighten($color-grey, 20%)
        border-radius: 50px

    &:hover
        &:before
            content: ''
            border: 1px solid darken($color-primary, 10%)

    &:focus-within:not(:hover)
        &:before
            content: ''
            border: 1px solid darken($color-primary, 10%)

    &_size_s
        padding-left: 26px
        &:before
            content: ''
            width: 16px
            height: 16px

    &_size_m
        padding-left: 30px
        &:before
            content: ''
            width: 20px
            height: 20px

    &_checked
        &:before
            content: ''
            border: 1px solid lighten($color-primary, 0)

        &:after
            content: ''
            position: absolute
            top: 50%
            transform: translateY(-50%)
            background: $color-primary
            border-radius: 50px
            animation: slide-in-fwd-center 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
    
    &_checked#{&}_size_s
        &:after
            content: ''
            width: 10px
            height: 10px
            left: 4px
    
    &_checked#{&}_size_m
        &:after
            content: ''
            width: 14px
            height: 14px
            left: 4px

    &_disabled
        opacity: 0.7

@keyframes slide-in-fwd-center 
  0% 
    transform: translateZ(-1400px) translateY(-50%)
    opacity: 0
  
  100% 
    transform: translateZ(0) translateY(-50%)
    opacity: 1
  

