@import ../../mixins/index
@import ../../variables/index

.SuggestOption
    @include no-tap-highlight
    cursor: pointer
    list-style-type: none
    margin: 0
    position: relative

    i
        color: $color-primary
        font-style: normal
        font-weight: 500

    &_active,
    &_value
        i
            color: inherit

    &_active
        background-color: lighten($color-primary, 40%)

    &_value
        background-color: lighten($color-primary, 50%)
        &:before
            background-color: ($color-black)
            border-radius: 50%
            content: ''
            position: absolute
            top: 50%
    &_value#{&}_size_s
        &:before
            @include size(4px)
            left: 12px
            margin-top: -2px
    &_value#{&}_size_m
        &:before
            @include size(6px)
            left: 16px
            margin-top: -3px

    &_disabled
        cursor: not-allowed
        opacity: 0.4

    &_size_s
        @include font-s
        padding: 10px 10px 10px 28px
    &_size_m
        @include font-m
        padding: 14px 14px 14px 36px
