@import ../../mixins/index
@import ../../variables/index

.SuggestOption
    @include no-tap-highlight
    cursor: pointer
    list-style-type: none
    margin: 0

    i
        color: $color-primary
        font-style: normal
        font-weight: 500

    &_active
        background-color: $bg-input
        i
            color: inherit
    &_value
        background-color: $color-primary
        color: $color-white
        i
            color: inherit

    &_disabled
        cursor: not-allowed
        opacity: 0.4

    &_size_s
        @include font-s
        padding: 12px 16px

    &_size_m
        @include font-s
        padding: 15px 20px
