@import ../../mixins/index

.Checkbox
    display: inline-block
    input[type='checkbox']
        opacity: 0
        position: absolute

.Checkbox__Label
    $size-s: 18px
    $size-m: 22px
    $size-l: 26px

    cursor: pointer
    display: inline-block
    position: relative

    &:before
        @include size($size-m)
        border: 2px solid $color-default
        border-radius: 2px
        box-sizing: border-box
        content: ''
        left: 0
        position: absolute
        top: 0
    &:after
        border-bottom: 2px solid $color-white
        border-left: 2px solid $color-white
        content: ''
        position: absolute

    &:hover:not(&_checked):not(&_disabled)
        &:before
            border-color: darken($color-default, 5%)

    &:focus-within:not(:hover)
        &:before
            border-color: darken($color-default, 5%)

    // Checked
    &_checked
        &:after
            display: block
            transform: rotate(-45deg)

    // Disabled
    &_disabled
        cursor: default
        opacity: 0.5

    // Type
    &_type_primary
        color: black
    &_type_primary#{&}_checked
        &:before
            background-color: $color-primary
            border-color: $color-primary
    &_type_secondary#{&}_checked
        &:before
            background-color: $color-secondary
            border-color: $color-secondary

    // Size
    &_size_s
        font-size: $font-size-s
        min-height: $size-s
        padding-left: $size-s + 8px
        padding-top: 2px
        &:before
            @include size($size-s)
        &:after
            height: 5px
            left: 4px
            top: 4px
            width: 8px
    &_size_m
        font-size: $font-size-m
        min-height: $size-m
        padding-left: $size-m + 8px
        padding-top: 2.5px
        &:before
            @include size($size-m)
        &:after
            height: 6px
            left: 5px
            top: 5px
            width: 10px
    &_size_l
        font-size: $font-size-l
        min-height: $size-l
        padding-left: $size-l + 8px
        padding-top: 3px
        &:before
            @include size($size-l)
        &:after
            height: 7px
            left: 6px
            top: 6px
            width: 12px
