.LSidebar
    box-sizing: border-box
    width: $sidebar-width-mobile
    z-index: $z-sidebar + 3

    @include to-tab
        flex-grow: 1
        height: 100%
        overflow: auto
        position: fixed
        top: 0
        transition: transform 0.2s ease
    @include from-tab
        width: $sidebar-width-tab
    @include from-desktop
        transform: none !important
        min-width: $sidebar-width-desktop
        width: $sidebar-width-desktop
    @include large-desktop
        min-width: $sidebar-width-large-desktop
        width: $sidebar-width-large-desktop

    &_has-header
        z-index: $z-header - 2
        @include from-desktop
            height: calc(100% - #{$header-height-desktop})
            top: $header-height-desktop
        @include large-desktop
            height: calc(100% - #{$header-height-large-desktop})
            top: $header-height-large-desktop
    &_opened
        z-index: $z-header + 3

    &_side_left
        left: -$sidebar-width-mobile
        @include from-tab
            left: -$sidebar-width-tab
        @include from-desktop
            left: 0
    &_side_right
        right: -$sidebar-width-mobile
        @include from-tab
            right: -$sidebar-width-tab
        @include from-desktop
            right: 0
    &_side_left#{&}_opened
        transform: translateX($sidebar-width-mobile)
        @include from-tab
            transform: translateX($sidebar-width-tab)
    &_side_right#{&}_opened
        transform: translateX(-$sidebar-width-mobile)
        @include from-tab
            transform: translateX(-$sidebar-width-tab)

.LSidebar__Background
    background-color: rgba($color-black, 0.5)
    display: none
    height: 100vh
    left: 0
    position: fixed
    top: 0
    width: 100vw
    z-index: $z-header + 2
    &_opened
        display: block
    &_has-header
        z-index: $z-header + 1
    @include from-desktop
        display: none

.LSidebar__Toggler
    @include no-tap-highlight
    @include size($header-height-mobile)
    align-items: center
    color: $color-white
    display: flex
    justify-content: center
    position: fixed
    text-decoration: none
    top: 0
    z-index: $z-header + 2
    cursor: pointer
    &_has-header
        z-index: $z-header + 1
    &_side_left
        left: 0
    &_side_right
        right: 0
    @include from-tab
        @include size($header-height-tab)
    @include from-desktop
        display: none
