.H
    font-weight: 800

    // Size
    &_size_1
        @include font-xxxxl
        margin: 0 0 0px
        @include from-tab
            @include font-xxxxl
    &_size_2
        @include font-xxxl
        margin: 0 0 0px
        @include from-tab
            @include font-xxxl
    &_size_3
        @include font-xxl
        margin: 0 0 0px
        @include from-tab
            @include font-xxl
