@import ../../mixins/index

.InputDate
    margin: inherit
    position: relative

.InputDate__Input
    &_size_s
        input
            padding-right: 40px !important
    &_size_m
        input
            padding-right: 50px !important
    &_size_l
        input
            padding-right: 60px !important

.InputDate__Calendar
    width: 230px
    &_disabled,
    &_readonly
        display: none !important

.InputDate__Icon
    align-items: center
    bottom: 0
    cursor: pointer
    display: flex
    justify-content: center
    position: absolute
    right: 0
    top: 0
    width: 50px
    &_disabled,
    &_readonly
        cursor: not-allowed
        opacity: 0.3

    &_size_s
        @include size(40px)
        svg
            @include size(20px)
    &_size_m
        @include size(50px)
        svg
            @include size(22px)
    &_size_l
        @include size(60px)
        svg
            @include size(24px)

