@import ../../mixins/index

@mixin button-background($color, $hoverP: 5, $focusP: 10, $activeP: 30, $activeD:15)
    background-color: $color
    &:not([disabled]):not([processing])
        &:hover
            background-color: darken($color, $hoverP)
        &:focus
            background-color: $color
        &:active
            background-color: darken(desaturate($color, $activeP),$activeD)

@mixin button-border($color, $hoverP: 5, $focusP: 10, $activeP: 30, $activeD:15)
    border-color: $color
    &:not([disabled]):not([processing])
        &:hover
            border-color: darken($color, $hoverP)
        &:focus
            border-color: $color
        &:active
            border-color: darken(desaturate($color, $activeP),$activeD)

@mixin button-background-secondary($color)
    background-color: rgba($color,0.1)
    &:not([disabled]):not([processing])
        &:hover
            background-color: rgba($color,0.2)
        &:focus
            background-color: rgba($color,0.1)
        &:active
            background-color: rgba($color,0.3)

@mixin button-border-secondary($color)
    border-color: rgba($color,0.1)
    &:not([disabled]):not([processing])
        &:hover
            border-color: rgba($color,0.2)
        &:focus
            border-color: rgba($color,0.1)
        &:active
            border-color: rgba($color,0.3)


@mixin button-box-shadow()
    &:not([disabled]):not([processing])
        &:hover
            box-shadow: 0 4px 16px 0 ($color-blue,0.0)
        &:focus
            box-shadow: 0 4px 16px 0 ($color-blue,0.0)
        &:active
            box-shadow: none
