@mixin autofill($fill-color, $shadow-color)
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus
        -webkit-text-fill-color: $fill-color
        -webkit-box-shadow: 0 0 0px 1000px $shadow-color inset
    
@mixin box-shadow-s($color)
    box-shadow: 0 0 8px 0 $color
@mixin box-shadow-m($color)
    box-shadow: 0 4px 16px 0 $color
@mixin box-shadow-l($color)
    box-shadow: 0 8px 24px 0 $color
@mixin box-shadow-xl($color)
    box-shadow: 0 12px 32px 0 $color

@mixin no-outline
    outline: none
    &:hover,
    &:focus,
    &:active
        outline: none

@mixin no-tap-highlight
    -webkit-tap-highlight-color: transparent

@mixin placeholder-color($color)
    &::placeholder
        color: $color
        opacity: 1
    &:-ms-input-placeholder
        color: $color
    &::-ms-input-placeholder
        color: $color

@mixin size($size)
    height: $size
    width: $size
