@import ../../mixins/index

.LContainer
    box-sizing: border-box
    display: flex
    min-height: 100vh
    overflow: hidden
    @include safari-only
        box-sizing: initial
        min-height: -webkit-fill-available

    @include to-tab
        flex-flow: column

    &_has-header
        padding-top: $header-height-mobile
        @include from-tab
            padding-top: $header-height-tab
        @include from-desktop
            padding-top: $header-height-desktop
        @include large-desktop
            padding-top: $header-height-large-desktop

    &_sidebar-side_left

    &_sidebar-side_right
        @include from-desktop
            padding-right: $sidebar-width-desktop
        @include large-desktop
            padding-right: $sidebar-width-large-desktop

    &_sidebar-side_both
        @include from-desktop
            padding-left: $sidebar-width-desktop
            padding-right: $sidebar-width-desktop
        @include large-desktop
            padding-left: $sidebar-width-large-desktop
            padding-right: $sidebar-width-large-desktop

