.NotificationWrapper
    box-sizing: border-box
    display: flex
    flex-flow: column
    height: 0
    min-height: 0
    padding: 15px
    position: fixed
    width: 320px
    z-index: 1000

    // Position
    &_position_bottom-center
        bottom: 0
        flex-flow: column-reverse
        left: 50%
        margin-left: -160px
    &_position_bottom-left
        bottom: 0
        flex-flow: column-reverse
        left: 0
    &_position_bottom-right
        bottom: 0
        flex-flow: column-reverse
        right: 0
    &_position_top-center
        left: 50%
        margin-left: -160px
        top: 0
    &_position_top-left
        left: 0
        top: 0
    &_position_top-right
        right: 0
        top: 0
