/* Theme: Absolut */

// Fonts
@import fonts/openSans/index

@import expose

// Components
@import components/index

// Layout
@import layout/index

// Typography
@import typography/index

// Wrappers
@import wrappers/index

*
    font-family: $font-family

html
    height: 100vh
    @include safari-only
        height: -webkit-fill-available

body
    color: $color-text-primary
    font-size: $font-size-m
    height: 100vh
    margin: 0
    min-height: 100vh
    overflow-x: hidden
    overflow-y: auto
    @include safari-only
        height: -webkit-fill-available
        min-height: -webkit-fill-available

    // Tab
    @include from-tab
        font-size: $font-size-l

div[id=root]
    height: 100vh
    min-height: 100vh
    @include safari-only
        height: -webkit-fill-available
        min-height: -webkit-fill-available
