/* Theme: KYC_LANDING */

// Fonts
@import fonts/muller/index

@import expose

// Components
@import components/index

// Layout
@import layout/index

// Typography
@import typography/index

// Wrappers
@import wrappers/index

*
    font-family: $font-family

html
    height: 100%

body
    color: $color-text-primary
    background-color: $color-background
    font-size: $font-size-m
    height: 100%
    margin: 0
    min-height: 100%

    // Tab
    @include from-tab
        font-size: $font-size-l

div[id=root]
    height: 100%
    min-height: 100%
