@import ../../mixins/index

$arrow-size: 8px


@mixin tooltip-arrow($side)
    @if $side == top
        @include arrow-top($arrow-size, lighten($color-default, 20%))
    @else if $side == bottom
        @include arrow-bottom($arrow-size, lighten($color-default, 20%))
    @else if $side == left
        @include arrow-left($arrow-size, lighten($color-default, 20%))
    @else if $side == right
        @include arrow-right($arrow-size, lighten($color-default, 20%))
    &:after
        @if $side == top
            @include arrow-top($arrow-size, $color-white)
            bottom: -($arrow-size - 1)
            right: -$arrow-size
        @else if $side == bottom
            @include arrow-bottom($arrow-size, $color-white)
            bottom: -($arrow-size + 1)
            right: -$arrow-size
        @else if $side == left
            @include arrow-left($arrow-size, $color-white)
            bottom: -$arrow-size
            right: -($arrow-size - 1)
        @else if $side == right
            @include arrow-right($arrow-size, $color-white)
            bottom: -$arrow-size
            right: -($arrow-size + 1)
        content: ''
        position: absolute
        z-index: $z-tooltip + 2

.Tooltip
    @include tooltip

    // Placement
    &_placement
        &_top
            margin-top: -10px
        &_right
            margin-left: 10px
        &_left
            margin-left: -10px
        &_bottom
            margin-top: 10px

    // Visible
    &_visible
        display: block

.Tooltip__Arrow
    position: absolute
    z-index: $z-tooltip + 1

    // Placement
    &_placement
        &_top
            @include tooltip-arrow(top)
            bottom: -($arrow-size * 2)
            left: 50%
            transform: translateX(-50%)
        &_right
            @include tooltip-arrow(right)
            left: -($arrow-size * 2)
            top: 50%
            transform: translateY(-50%)
        &_left
            @include tooltip-arrow(left)
            right: -($arrow-size * 2)
            top: 50%
            transform: translateY(-50%)
        &_bottom
            @include tooltip-arrow(bottom)
            top: -($arrow-size * 2)
            left: 50%
            transform: translateX(-50%)
   