.LSidebar
    background-color: $color-white
    box-sizing: border-box
    flex-grow: 1
    height: 100%
    position: fixed
    top: 0
    transition: transform 0.2s ease
    width: $sidebar-width-mobile
    z-index: $z-sidebar + 3

    @include from-tab
        width: $sidebar-width-tab
    @include from-desktop
        transform: none !important
        width: $sidebar-width-desktop
    @include large-desktop
        width: $sidebar-width-large-desktop

    &_has-header
        @include from-desktop
            height: calc(100% - #{$header-height-desktop})
            top: $header-height-desktop
        @include large-desktop
            height: calc(100% - #{$header-height-large-desktop})
            top: $header-height-large-desktop

    &_side_left
        border-right: 1px solid lighten($color-default, 30%)
        left: -$sidebar-width-mobile
        @include from-tab
            left: -$sidebar-width-tab
        @include from-desktop
            left: 0
    &_side_right
        border-left: 1px solid lighten($color-default, 30%)
        right: -$sidebar-width-mobile
        @include from-tab
            right: -$sidebar-width-tab
        @include from-desktop
            right: 0

    &_side_left#{&}_opened
        transform: translateX($sidebar-width-mobile)
        @include from-tab
            transform: translateX($sidebar-width-tab)
    &_side_right#{&}_opened
        transform: translateX(-$sidebar-width-mobile)
        @include from-tab
            transform: translateX(-$sidebar-width-tab)

.LSidebar__Background
    background-color: rgba($color-black, 0.5)
    display: none
    height: 100vh
    left: 0
    position: fixed
    top: 0
    width: 100vw
    z-index: $z-sidebar + 2
    &_opened
        display: block

    @include from-desktop
        display: none

.LSidebar__Toggler
    @include no-tap-highlight
    @include size($header-height-mobile)
    align-items: center
    color: inherit
    display: flex
    justify-content: center
    position: fixed
    text-decoration: none
    top: 0
    z-index: $z-sidebar + 1
    cursor: pointer

    &_side_left
        left: 0
    &_side_right
        right: 0

    @include from-tab
        @include size($header-height-tab)

    @include from-desktop
        display: none
