@import ../../mixins/index

@mixin button-background($color, $hoverP: 10, $focusP: 10, $activeP: 20)
    background-color: $color
    &:not([disabled]):not([processing])
        &:hover
            background-color: darken($color, $hoverP)
        &:focus
            background-color: darken($color, $focusP)
        &:active
            background-color: darken($color, $activeP)

@mixin button-border($color, $hoverP: 10, $focusP: 10, $activeP: 20)
    border-color: $color
    &:not([disabled]):not([processing])
        &:hover
            border-color: darken($color, $hoverP)
        &:focus
            border-color: darken($color, $focusP)
        &:active
            border-color: darken($color, $activeP)

@mixin button-box-shadow()
    &:not([disabled]):not([processing])
        &:hover
            @include box-shadow-m(rgba($color-text-secondary, 0.24))
        &:focus
            @include box-shadow-m(rgba($color-text-secondary, 0.24))
        &:active
            box-shadow: none
