.LHeader
    position: fixed
    top: 0
    left: 0
    width: 100%
    background: $bg-header
    color: $color-white
    z-index: $z-header
    height: $header-height-mobile

    @include from-tab
        height: $header-height-tab

        &_sidebar-side_left
            @include from-desktop
                left: $sidebar-width-desktop
                width: calc(100% - #{$sidebar-width-desktop})
            @include large-desktop
                left: $sidebar-width-large-desktop
                width: calc(100% - #{$sidebar-width-large-desktop})

        &_sidebar-side_right
            @include from-desktop
                width: calc(100% - #{$sidebar-width-desktop})
            @include large-desktop
                width: calc(100% - #{$sidebar-width-large-desktop})

        &_sidebar-side_both
            @include from-desktop
                left: $sidebar-width-desktop
                width: calc(100% - #{$sidebar-width-desktop} - #{$sidebar-width-desktop})
            @include large-desktop
                left: $sidebar-width-large-desktop
                width: calc(100% - #{$sidebar-width-large-desktop} - #{$sidebar-width-large-desktop})

    @include from-desktop
        height: $header-height-desktop

    @include large-desktop
        height: $header-height-large-desktop
