// Variables
$handle-size: 30px

// Mixins
@mixin slider-disabled-overlay
    &:after
        content: ''
        height: 100%
        left: -($handle-size / 2)
        position: absolute
        top: 0
        width: calc(100% + #{$handle-size})

.Slider
    position: relative

    // Size
    &_size_s
        height: $handle-size
    &_size_s#{&}_disabled,
    &_size_s#{&}_readonly
        @include slider-disabled-overlay
    &_size_m
        height: $handle-size
    &_size_m#{&}_disabled,
    &_size_m#{&}_readonly
        @include slider-disabled-overlay
    &_size_l
        height: $handle-size
    &_size_l#{&}_disabled,
    &_size_l#{&}_readonly
        @include slider-disabled-overlay

    // Type
    &_type_primary
    &_type_secondary

.Slider__Rail
    border-bottom: 1px solid $color-default
    box-sizing: border-box
    height: 2px
    position: relative
    top: 50%
    transform: translateY(-1px)

    // Size
    &_size_s
    &_size_m
    &_size_l

    // Type
    &_type_primary
    &_type_secondary

.Slider__Track
    height: 2px

    // Size
    &_size_s
    &_size_m
    &_size_l

    // Type
    &_type_primary
        background-color: $color-primary
    &_type_primary#{&}_disabled,
    &_type_primary#{&}_readonly
        background-color: lighten($color-primary, 20%)
    &_type_secondary
        background-color: $color-secondary
    &_type_secondary#{&}_disabled,
    &_type_secondary#{&}_readonly
        background-color: lighten($color-secondary, 20%)

.Slider__HandleWrapper
    @include size($handle-size)
    align-items: center
    cursor: grab
    display: flex
    justify-content: center
    margin-left: -15px
    position: absolute
    top: 0
    touch-action: pan-x
    border: none
    background-color: transparent
    padding: 0
    &:active
        cursor: grabbing
        & > *
            box-shadow: 0 0 5px $color-default

.Slider__Handle
    border-radius: 50%
    display: block

    // Size
    &_size_s
        @include size(12px)
    &_size_m
        @include size(16px)
    &_size_l
        @include size(20px)

    // Type
    &_type_primary
        background-color: $color-primary
    &_type_primary#{&}_disabled,
    &_type_primary#{&}_readonly
        background-color: lighten($color-primary, 20%)
    &_type_secondary
        background-color: $color-secondary
    &_type_secondary#{&}_disabled,
    &_type_secondary#{&}_readonly
        background-color: lighten($color-secondary, 20%)
