@import ../../mixins/index

.Spin
    animation: spin_animation 0.8s linear infinite
    border: 2px solid transparent
    border-radius: 50%
    box-sizing: border-box

    // Size
    &_size_xs
        @include size(12px)
        border-width: 1px
    &_size_s
        @include size(16px)
        border-width: 1px
    &_size_m
        @include size(24px)
    &_size_l
        @include size(32px)
    &_size_xl
        @include size(40px)
    &_size_xxl
        @include size(48px)

    // Type
    &_type_default
        border-top-color: $color-default
    &_type_primary
        border-top-color: $color-primary
    &_type_secondary
        border-top-color: $color-primary
    &_type_danger
        border-top-color: $color-danger
    &_type_success
        border-top-color: $color-success
    &_type_info
        border-top-color: $color-info
    &_type_warning
        border-top-color: $color-warning

// Animation
@keyframes spin_animation
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)
