@import ../../mixins/index

$size: 8px


.Textarea
    display: block
    position: relative
    width: 100%


.Textarea__Label
    display: block
    position: relative

.Textarea__LabelText
    color: rgba($color-text-primary, 0.5)
    font-size: $font-size-l
    position: absolute
    transform-origin: 0 50%
    transform: scale(1)
    transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out, transform 0.2s ease-in-out

    &_error
        color: $color-error
    &_place-top
        color: rgba($color-text-primary, 0.6)

    &_focus
        color: $color-primary

    // Size
    &_size_s
        font-size: $font-size-s
        top: 13px
        left: 12px
    &_size_s#{&}_place-top
        font-size: $font-size-xs
        transform: translateY(-8px)
    &_size_m
        left: 21px
        top: 21px
        font-size: $font-size-l
    &_size_m#{&}_place-top
        font-size: $font-size-s
        transform: translateY(-12px)

.Textarea__Textarea
    @include no-tap-highlight
    @include placeholder-color(rgba($color-text-primary, 0.4))
    @include textarea
    -webkit-appearance: none
    background-color: yellow
    border: 1px solid green
    border-radius: 4px
    box-sizing: border-box
    color: $color-text-primary
    display: block
    transition-property: border-color, color
    transition-duration: 0.2s
    transition-timing-function: ease-in-out
    width: 100%

    position: relative
    resize: none
    overflow: hidden
    outline: none
    z-index: 2

    &[disabled]
        color: rgba($color-text-primary, 0.9)
        & ~ span
            position: absolute
            top: 50%
            right: 20px
            transform: translateY(-50%)
            opacity: 0.2

    &[readonly]
        background-color: lighten($color-grey, 55%)
        color: rgba($color-text-primary, 0.9)

    &:not([disabled]):not([readonly]):not(&_error):not(&_success)
        &:hover
            background-color: yellow
            border-color: grey
        &:focus
            background-color: $color-white
            border-color: grey


    // Autofill
    @include autofill($color-text-primary, $color-white)

    &_error
        border-color: $color-error
    &_success
        border-color: $color-success


.Textarea__HiddenBlock
    @include textarea

    z-index: 1
    width: 100%
    display: block
    position: absolute
    top: 0
    left: 0
    box-sizing: border-box
    white-space: pre-wrap
    word-wrap: break-word
    overflow-wrap: break-word
    background: transparent
    color: transparent
    opacity: 0



.Textarea__Error
    display: none


.Textarea__ErrorDetail
    position: relative

    display: none
    color: $color-danger
    margin-top: 3px


    flex-direction: row
    justify-content: flex-end

    &_visible
        display: flex


.Textarea__ErrorIcon
    color: $color-danger
    cursor: pointer

    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    align-items: center

    &_size_s
        svg
            @include size(15px)
    &_size_m
        svg
            @include size(18px)


.Textarea__Tooltip
    @include tooltip

    position: absolute
    padding: 10px 15px
    max-width: 50rem
    right: -10px
    color: $color-text-primary
    z-index: $z-tooltip
    bottom: calc(100% + 6px)

    &_visible
        display: block

    &_size_s
        padding: 7px 15px !important
        font-size: $font-size-s
    &_size_m
        padding: 10px 15px !important
        font-size: $font-size-m


    &:after
        @include arrow-top($size, $color-white)
        border-bottom: solid 2px transparent
        content: ''
        position: absolute
        z-index: $z-tooltip + 2
        top: calc(100% - 1px)
        right: 10px
