@import ../../mixins/index
    
.Modal
    position: fixed
    height: 100vh
    width: 100vw
    left: 0
    top: 0
    z-index: 100
    display: none

    &_open
        display: block
    
.Modal__Wrapper
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%, -50%)
    max-width: 500px
    z-index: 2
    width: 100%
    box-sizing: border-box
    padding: 0 10px
.Modal__Container
    box-sizing: border-box
    background: $color-white
    width: 100%
    max-height: calc(100vh - 20px)
    border-radius: 4px
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
    overflow-y: auto

.Modal__Overlay
    box-sizing: border-box
    position: fixed
    padding: 20px
    left: 0
    top: 0
    height: 100vh
    width: 100vw
    background: rgba($color-black, 0.2)
    animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both

.Modal__Close
    position: absolute
    right: 15px
    top: 15px
    cursor: pointer

.Modal__Title
    padding: 20px
    font-size: $font-size-xl
    border-bottom: 1px solid #ececec
    @include from-desktop
        padding: 30px
        font-size: $font-size-xxl

.Modal__Content
    padding: 30px

// Animation keyframes
@keyframes scale-in-center 
    0% 
        -webkit-transform: scale(0)
        transform: scale(0)
        opacity: 1

    100% 
        -webkit-transform: scale(1)
        transform: scale(1)
        opacity: 1
  

@keyframes fade-in 
    0% 
        opacity: 0

    100% 
        opacity: 1

  



