@import ../../mixins/index

$upload-files-mobile-space: 20px
$upload-files-desktop-space: 40px

.UploadFiles
    border: 2px dashed lighten($color-default, 10%)
    border-radius: 4px
    box-sizing: border-box
    display: flex
    flex-flow: column
    flex-grow: 1
    justify-content: center
    min-height: 100%
    padding: $upload-files-mobile-space
    position: relative
    text-align: center
    @include from-tab
        justify-content: center
    @include from-desktop
        padding: $upload-files-desktop-space
        &_compact
            align-items: center
            flex-flow: row
            justify-content: space-between
            min-height: 0
            padding: 20px
    &_compact
        align-items: center
        flex-flow: row
        justify-content: space-between
        min-height: 0
        padding: 20px
    &_disabled
        &:after
            background-color: rgba($color-white, 0.6)
            content: ''
            height: calc(100% + 4px)
            left: -2px
            position: absolute
            top: -2px
            width: calc(100% + 4px)
            z-index: 1

.UploadFiles__Header
    order: 1
.UploadFiles__Content
    order: 3
    &_compact
        display: none
    @include from-desktop
        order: 2
        &_compact
            display: none
.UploadFiles__Footer
    order: 2
    @include from-desktop
        order: 3

.UploadFiles__File
    display: none

.UploadFiles__Title
    h3, h4
        margin: 0 0 $upload-files-mobile-space
    &_compact
        h3, h4
            margin: 0
    @include from-desktop
        &_compact
            h3, h4
                margin: 0

.UploadFiles__Icons
    display: flex
    justify-content: center
    @include from-desktop
        margin-top: $upload-files-desktop-space

.UploadFiles__IconFolder
    img
        height: 50px
        @include from-tab
            height: 70px

.UploadFiles__IconFolderWithDocs
    img
        height: 76px

.UploadFiles__IconCamera
    margin-left: $upload-files-mobile-space
    @include from-desktop
        margin-top: $upload-files-desktop-space
    img
        height: 50px
        @include from-tab
            height: 70px

.UploadFiles__Formats
    @include font-s
    line-height: 1.4
    margin-top: $upload-files-mobile-space
    opacity: 0.5
    @include from-tab
        max-width: 400px
        margin: $upload-files-desktop-space auto 0

.UploadFiles__Button
    margin-top: $upload-files-mobile-space
    &_compact
        margin-top: 0
    @include from-desktop
        margin-top: $upload-files-desktop-space
        &_compact
            margin-top: 0

.UploadFiles__Overlay
    background-color: rgba($color-text-primary, 0.6)
    box-sizing: border-box
    height: 100vh
    left: 0
    padding: 100px 50px
    position: fixed
    top: 0
    width: 100vw
    z-index: 1000
    &:after
        border: 4px dashed $color-white
        box-sizing: border-box
        content: ''
        height: calc(100% - 40px)
        left: 20px
        position: absolute
        top: 20px
        width: calc(100% - 40px)
.UploadFiles__OverlayTitle,
.UploadFiles__OverlayDescription
    color: $color-white
    text-align: center
.UploadFiles__OverlayTitle
    @include font-xxxl
.UploadFiles__OverlayDescription
    margin-top: 5px
