@import mixins

.Button
    border: 1px solid transparent
    border-radius: 4px
    box-shadow: none
    cursor: pointer
    padding: 0
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out
    &:focus
        outline: none

    // Type
    &_type_default
        @include button-background(lighten($color-default, 30%))
        @include button-border(lighten($color-default, 30%))
        @include button-box-shadow($color-default)
        background-color: $color-white
        border-color: lighten($color-default, 20%)
        color: $color-text-primary

        .Button__Spin > div
            border-top-color: $color-default
            opacity: 1

    &_type_primary
        @include button-background($color-primary)
        @include button-border($color-primary)
        @include button-box-shadow(lighten($color-primary, 20%))
        color: $color-white

        .Button__Spin > div
            border-top-color: $color-white

    &_type_secondary
        @include button-background($color-primary)
        @include button-border($color-primary)
        @include button-box-shadow(lighten($color-primary, 20%))
        background-color: $color-white
        color: $color-primary
        &:not([disabled]):not([processing])
            &:hover
                color: $color-white
            &:focus,
            &:active
                color: $color-white

        .Button__Spin > div
            border-top-color: $color-primary

    &_type_danger
        @include button-background($color-danger)
        @include button-border($color-danger)
        @include button-box-shadow(lighten($color-danger, 20%))
        color: $color-white

        .Button__Spin > div
            border-top-color: $color-white

    &_type_success
        @include button-background($color-success)
        @include button-border($color-success)
        @include button-box-shadow(lighten($color-success, 20%))
        color: $color-white

        .Button__Spin > div
            border-top-color: $color-white

    &_type_info
        @include button-background($color-info)
        @include button-border($color-info)
        @include button-box-shadow(lighten($color-info, 20%))
        color: $color-white

        .Button__Spin > div
            border-top-color: $color-white

    &_type_warning
        @include button-background($color-warning)
        @include button-border($color-warning)
        @include button-box-shadow(lighten($color-warning, 20%))
        color: $color-white

        .Button__Spin > div
            border-top-color: $color-white

    // Size
    &_size_xs
        font-size: $font-size-xs
        .Button__Container
            padding: 7px 8px 8px

        .Button__IconLeft,
        .Button__IconRight
            svg
                @include size(12px)

        .Button__IconLeft
            margin-left: -2px

        .Button__IconRight
            margin-right: -2px

        svg
            @include size(13px)

    &_size_s
        font-size: $font-size-s
        .Button__Container
            padding: 12px

        .Button__IconLeft,
        .Button__IconRight
            svg
                @include size(14px)

        .Button__IconLeft
            margin-left: -3px

        .Button__IconRight
            margin-right: -3px

        svg
            @include size(14px)

    &_size_m
        font-size: $font-size-m
        .Button__Container
            padding: 16px

        .Button__IconLeft,
        .Button__IconRight
            svg
                @include size(16px)

        .Button__IconLeft
            margin-left: -4px

        .Button__IconRight
            margin-right: -4px

        svg
            @include size(16px)

    &_size_l
        font-size: $font-size-l
        .Button__Container
            padding: 19px 24px 20px

        .Button__IconLeft,
        .Button__IconRight
            svg
                @include size(18px)

        .Button__IconLeft
            margin-left: -5px

        .Button__IconRight
            margin-right: -5px

        svg
            @include size(19px)

    &_size_xl
        font-size: $font-size-xl
        .Button__Container
            padding: 24px 28px

        .Button__IconLeft,
        .Button__IconRight
            svg
                @include size(20px)

        .Button__IconLeft
            margin-left: -6px

        .Button__IconRight
            margin-right: -6px

        svg
            @include size(24px)

    &_size_xxl
        font-size: $font-size-xxl
        .Button__Container
            padding: 28px 32px

        .Button__IconLeft,
        .Button__IconRight
            svg
                @include size(22px)

        .Button__IconLeft
            margin-left: -7px

        .Button__IconRight
            margin-right: -7px

        svg
            @include size(28px)

    // Disabled
    &_disabled
        cursor: default
        opacity: 0.5

    // Processing
    &_processing
        cursor: default
        .Button__Content,
        .Button__IconLeft,
        .Button__IconRight
            opacity: 0

    // Block
    &_block
        display: block
        width: 100%

.Button__Container
    align-items: center
    box-sizing: border-box
    display: flex
    justify-content: space-between
    position: relative

    &_no-icons
        justify-content: center

.Button__Content
    display: inline
    flex-grow: 1
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.Button__IconLeft,
.Button__IconRight
    & > span
        display: block

.Button__IconLeft
    margin-right: 5px

.Button__IconRight
    margin-right: 5px

.Button__Spin
    align-items: center
    display: flex
    height: calc(100% + 2px)
    justify-content: center
    left: -1px
    position: absolute
    top: -1px
    width: calc(100% + 2px)

    &:after
        background-color: $color-white
        content: ''
        height: 100%
        left: 0
        opacity: 0.2
        position: absolute
        top: 0
        width: 100%

    & > div
        opacity: 0.6
