@mixin button-background($color)
    background-color: $color
    &:not([disabled]):not([processing]):hover
        background-color: darken($color, 10%)
    &:not([disabled]):not([processing]):focus
        background-color: darken($color, 10%)
    &:not([disabled]):not([processing]):active
        background-color: darken($color, 20%)

@mixin button-border($color, $percent: 10)
    border-color: $color
    &:not([disabled]):not([processing]):hover
        border-color: darken($color, 10%)
    &:not([disabled]):not([processing]):focus
        border-color: darken($color, 10%)
    &:not([disabled]):not([processing]):active
        border-color: darken($color, 20%)

@mixin button-box-shadow($box-shadow-color: transparent)
    &:not([disabled]):not([processing]):hover
        box-shadow: none
    &:not([disabled]):not([processing]):focus
        box-shadow: 0 0 10px $box-shadow-color
        outline: none
