pre[class*="language-"] {
  border-radius: 10px;
  background: rgb(40,44,52);
  padding: 15px 20px;
  overflow-x: auto;
}
pre code[class*="language-"],
pre code[class*="language-"] .token {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
    font-size: 12px;
    line-height: 18px;
    color: #fff;
}

pre code[class*="language-"] .token.property,
pre code[class*="language-"] .token.property-line .token.variable {
  color: #fff;
}
pre code[class*="language-"] .token.keyword,
pre code[class*="language-"] .token.attr-name,
pre code[class*="language-"] .token.atrule {
  color: rgb(197,165,197);
}
pre code[class*="language-"] .token.function {
  color: rgb(121,182,242);
}
pre code[class*="language-"] .token.punctuation {
  color: rgb(136,198,190);
}
pre code[class*="language-"] .token.tag {
  color: rgb(252,146,158);
}
pre code[class*="language-"] .token.class-name,
pre code[class*="language-"] .token.property {
  color: rgb(250,200,99);
}
pre code[class*="language-"] .token.number {
  color: rgb(90, 155, 207);
}
pre code[class*="language-"] .token.operator {
  color: rgb(215,222,234);
}
pre code[class*="language-"] .token.attr-value,
pre code[class*="language-"] .token.string,
pre code[class*="language-"] .token.property-line {
  color: rgb(141,200,145);
}
