@mixin textarea
    // Size
    &_size_s
        font-size: $font-size-s
        line-height: $line-height-s +6px
        min-height: 40px
        padding-top: 19px
    &_size_s#{&}_with-label
    &_size_m
        font-size: $font-size-m
        line-height: $line-height-s + 4px
        min-height: 65px
        padding-top: 34px
    &_size_m#{&}_with-label
