@mixin tooltip
    background-color: $color-white
    border: 1px solid $color-grey
    box-shadow: 0 0 15px 0 $color-grey
    display: none
    height: auto
    padding: 15px
    max-width: 400px
    z-index: $z-tooltip

@mixin arrow-top ($size, $color)
    border-left: $size solid transparent
    border-right: $size solid transparent
    border-bottom: $size solid transparent
    border-top: $size solid $color

@mixin arrow-right ($size, $color)
    border-left: $size solid transparent
    border-top: $size solid transparent
    border-bottom: $size solid transparent
    border-right: $size solid $color

@mixin arrow-bottom ($size, $color)
    border-left: $size solid transparent
    border-right: $size solid transparent
    border-top: $size solid transparent
    border-bottom: $size solid $color

@mixin arrow-left ($size, $color)
    border-top: $size solid transparent
    border-right: $size solid transparent
    border-bottom: $size solid transparent
    border-left: $size solid $color