@import ../../mixins/index

$size_cell: 33px

.Calendar
    @include font-m

    max-width: 260px
    min-width: 180px
    width: 100%
    min-height: 256px
    box-sizing: border-box
    background: $color-white



.Calendar__Navigation
    width: 100%
    height: 44px

    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center
    align-items: center
    margin-bottom: 1em

.Calendar__NavigateButton
    border: none
    outline: none
    background: transparent
    margin: 0
    height: 100%
    cursor: pointer
    padding: 0
    svg
        @include size(25px)


.Calendar__Info
    min-width: 120px
    text-align: center
    white-space: nowrap
    font-size: inherit !important


.Calendar__Content
    width: 100%
    display: flex
    flex-direction: column


.Calendar__ContentHeader
    width: 100%
    height: $size_cell
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-content: center
    align-items: center

    margin-bottom: 10px



.Calendar__DayName
    height: 100%
    width: calc(100% / 7)
    display: flex
    justify-content: center
    align-items: center
    box-sizing: border-box
    text-decoration: underline dotted

    font-size: inherit



.Calendar__Days
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-content: center
    align-items: center
    flex-wrap: wrap


.Calendar__DayWrapper
    width: calc(100% / 7)
    height: $size_cell
    background: $color-white
    display: flex
    justify-content: center
    align-content: center
    align-items: center

.Calendar__DayButton
    width: $size_cell
    height: 24px
    display: flex
    justify-content: center
    align-content: center
    align-items: center
    outline: none
    border: none
    cursor: pointer
    background: $color-white
    border-radius: 14px
    font-size: inherit

    padding: 0
    transition-property: background, color
    transition-duration: 0.2s

    &:hover:not(&_selected):not(&_disabled)
        background: lighten($color-grey, 75%)

    &_today
        background: lighten($color-grey, 75%)

    &_selected
        background: $color-primary
        color: $color-white !important

        transition-property: background, color
        transition-duration: 0.2s

    &_disabled
        cursor: default
        opacity: 0.5
        &:hover
            background: none




