@mixin textarea
    // Size
    &_size_s
        font-size: $font-size-s
        line-height: $line-height-s +6px
        min-height: 40px
        padding: 19px 8px 8px 8px

    &_size_s#{&}_with-label
    &_size_m
        font-size: $font-size-m
        line-height: $line-height-s + 4px
        min-height: 65px
        padding: 28px 10px 10px 10px

    &_size_m#{&}_with-label
