.LFooter
    border-top: 1px solid lighten($color-grey, 40%)
    box-sizing: border-box
    height: $footer-height-mobile
    min-height: $footer-height-mobile
    order: 2
    position: relative
    z-index: $z-footer

    // Tab
    @include from-tab
        height: $footer-height-tab
        min-height: $footer-height-tab

    // Desktop
    @include from-desktop
        height: $footer-height-desktop
        min-height: $footer-height-desktop

    // Large desktop
    @include large-desktop
        height: $footer-height-large-desktop
        min-height: $footer-height-large-desktop
