@import ../../mixins/index

$size: 8px

.Input
    position: relative

// Label
.Input__Label
    display: block

// Label text
.Input__LabelText
    opacity: 0.5
    position: absolute
    transition: font-size 0.2s ease-in-out, top 0.2s ease-in-out

    // Sizes
    &_size_s
        font-size: $font-size-s
        left: 11px
        top: 12px
    &_size_s#{&}_place-top
        font-size: $font-size-xs
        top: 6px
    &_size_m
        font-size: $font-size-m
        left: 15px
        top: 16px
    &_size_m#{&}_place-top
        font-size: $font-size-s
        top: 8px
    &_size_l
        font-size: $font-size-l
        left: 19px
        top: 20px
    &_size_l#{&}_place-top
        font-size: $font-size-m
        top: 10px

// Input
.Input__Input
    @include no-tap-highlight
    -webkit-appearance: none
    border: 1px solid $color-default
    border-radius: 4px
    box-sizing: border-box
    display: block
    font-family: 'Roboto', sans-serif
    transition: 0.2s ease-in-out border-color
    width: 100%

    &:not([disabled]):not(&_error):not(&_success)
        &:hover
            border-color: darken($color-default, 10%)
        &:focus
            border-color: darken($color-default, 20%)

    &[disabled]
        cursor: no-drop
        & ~ span
            display: none

    &:focus
        outline: none

    // Error
    &_error
        border-color: $color-danger

    // Size
    &_size_s
        font-size: $font-size-s
        padding: 12px
    &_size_s#{&}_with-label
        padding: 18px 10px 6px

    &_size_m
        font-size: $font-size-m
        padding: 16px
    &_size_m#{&}_with-label
        padding: 26px 14px 6px

    &_size_l
        font-size: $font-size-l
        padding: 20px 20px 19px
    &_size_l#{&}_with-label
        padding: 30px 18px 9px

    // Success
    &_success
        border-color: $color-success

    &_readonly


// Error
.Input__Error
    $font-size-coeff: 0.75

    color: $color-danger
    margin-top: 3px

    // Size
    &_size_s
        font-size: $font-size-s * $font-size-coeff
    &_size_m
        font-size: $font-size-m * $font-size-coeff
    &_size_l
        font-size: $font-size-l * $font-size-coeff


.Input__ErrorDetail
    position: relative

    display: none
    color: $color-danger
    margin-top: 3px


    flex-direction: row
    justify-content: flex-end

    &_visible
        display: flex




.Input__ErrorIcon
    color: $color-danger
    cursor: pointer

    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    align-items: center

    &_size_s
        svg
            @include size(15px)
    &_size_m
        svg
            @include size(18px)
    &_size_l
        svg
            @include size(20px)




.Input__Tooltip
    @include tooltip

    position: absolute
    display: block
    padding: 10px 15px
    max-width: 50rem
    right: -10px
    //background: $color-white
    color: $color-text-tetriary
    z-index: $z-tooltip
    bottom: calc(100% + 6px)

    &_size_s
        padding: 7px 15px !important
        font-size: $font-size-s
    &_size_m
        padding: 10px 15px !important
        font-size: $font-size-m
    &_size_l
        padding: 12px 15px !important
        font-size: $font-size-l

    &:after
        @include arrow-top($size, $color-white)
        border-bottom: solid 2px transparent
        content: ''
        position: absolute
        z-index: $z-tooltip + 2
        top: calc(100% - 1px)
        right: 10px

