@import theme

@mixin fontMixin($size)
    @if $size == 'xs'
        @include font-xs
    @if $size == 's'
        @include font-s
    @if $size == 'm'
        @include font-m
    @if $size == 'l'
        @include font-l
    @if $size == 'xl'
        @include font-xl
    @if $size == 'xxl'
        @include font-xxl
    @if $size == 'xxxl'
        @include font-xxxl

@mixin hFont($mobileSize, $fromTabSize)
    @include fontMixin($mobileSize)
    @include from-tab
        @include fontMixin($fromTabSize)

@mixin hMargin($mobileValue: 0, $fromTabValue: 0)
    margin: $mobileValue * 2 0 $mobileValue
    @include from-tab
        margin: $fromTabValue * 2 0 $fromTabValue

@mixin table-cell
    @include font-s
    border: 1px solid lighten($color-grey, 45%)
    font-weight: 400
    line-height: 1.4
    padding: 12px
    text-align: left
    @include from-tab
        @include font-m
        line-height: 1.4
        padding: 14px
