@import theme
@import mixins

.ReadmeView
    overflow: auto

    & > h1,
    & > h2,
    & > h3
        font-weight: 400
        &:first-child
            margin-top: 0

    & > h1
        @include hFont(xxl, xxxl)
        @include hMargin(24px, 32px)
    & > h2
        @include hFont(xl, xxl)
        @include hMargin(16px, 24px)
    & > h3
        @include hFont(l, xl)
        @include hMargin(12px, 16px)

    & > p,
    & > ul,
    & > ol,
    & > pre,
    & > img
        margin: 0 0 12px
        @include from-tab
            margin: 0 0 16px
        &:last-child
            margin-bottom: 0

    & > p
        line-height: 1.6

    & > ul,
    & > ol
        padding: 0
    & > ol li,
    & > ul li
        line-height: 1.6
        list-style-position: inside
        padding-left: 16px
        @include from-tab
            padding-left: 24px
        & + li
            margin-top: 4px
            @include from-tab
                margin-top: 8px
        ul
            margin-top: 4px
            @include from-tab
                margin-top: 8px
    & > ul li
        list-style-type: none
        position: relative
        &:before
            content: '—'
            left: 0
            position: absolute
            top: 0

    & > table
        border-collapse: collapse
    & > table thead
    & > table thead tr
    & > table thead tr th
        @include table-cell
        background-color: lighten($color-grey, 50%)
        border-bottom-width: 2px
    & > table tbody
    & > table tbody tr
        transition: background-color .2s ease
        &:hover
            background-color: lighten($color-grey, 50%)
    & > table tbody tr td
        @include table-cell

    & > ul li code,
    & > p code,
    & > table code
        background-color: lighten($color-grey, 50%)
        border: 1px solid lighten($color-grey, 45%)
        border-radius: 4px
        color: rgba($color-text-primary, 0.8)
        font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace
        font-size: $font-size-xs
        margin: 0 2px
        padding: 1px 2px
        @include from-tab
            font-size: $font-size-s
            padding: 2px 4px

    & > p em,
    & > ul li em,
    & > ol li em,
    & > table em
        color: $color-primary
        font-style: normal

    & > p strong,
    & > ul li strong,
    & > ol li strong,
    & > table strong
        font-weight: 500

    & > p a,
    & > ul li a,
    & > ol li a,
    & > table a
        color: $color-secondary
        text-decoration: underline
        &:hover
            text-decoration: none

    & > img
        display: block
        height: auto
        max-width: 100%
