@import ../../mixins/index
@import ../../variables/index

.SelectBox
    position: relative
    &_disabled
        cursor: no-drop
    &_readonly
        &:after
            content: ''
            height: 100%
            left: 0
            position: absolute
            top: 0
            width: 100%
            z-index: 1


.SelectBox__Icon
    @include no-tap-highlight
    align-items: center
    box-sizing: border-box
    cursor: pointer
    display: flex
    justify-content: flex-end
    opacity: 0.6
    padding-right: 8px
    position: absolute
    right: 0
    top: 0
    z-index: 1
    @include from-tab
        padding-right: 18px
    svg
        transform: rotate(-90deg)
    &_size_s
        height: 47px
        width: 35px
        svg
            @include size(16px)
    &_size_m
        height: 47px
        width: 50px
        @include from-tab
            height: 63px
        svg
            @include size(20px)

    &_suggest_visible
    &_disabled
        display: none

.SelectBox__Input
    &#{&}_size_m
        input
            padding-right: 50px
    input,
    input[readonly][disabled]
        @include placeholder-color($color-text-primary)
        background-color: $bg-input

    input[readonly]
        background-color: $color-white

    &:not(&_error):not(&_success)
        input:not[readonly]:not([disabled])
            &:hover,
            &:focus
                background-color: $color-white
                border-color: $border-input-hover

.SelectBox__SuggestWrapper
    background-color: $color-white
    border: 1px solid $border-input-hover
    border-radius: 4px
    box-sizing: border-box
    display: none
    max-height: 300px
    opacity: 1
    overflow: hidden
    position: absolute
    transition: margin .2s ease, opacity .2s ease
    width: 100%
    z-index: 4
    &_closing
        opacity: 0
    &_opening
        margin-top: 10px
        opacity: 0
    &_visible
        display: block
    &#{&}_size_s
        top: 48px
    &#{&}_size_m
        top: 51px
        @include from-tab
            top: 67px

.SelectBox__Suggest
    -webkit-overflow-scrolling: touch
    max-height: 300px
    overflow: auto
    width: calc(100% + 20px)

.SelectBox__NotFound
    opacity: 0.5
    &_size_m
        @include font-m
        padding: 14px
