.InputSlider
    position: relative

    // Size
    &_size_s
    &_size_m

    // Type
    &_type_primary
    &_type_secondary

.InputSlider__Input

    // Size
    &_size_s
    &_size_m

    // Type
    &_type_primary
    &_type_secondary

.InputSlider__Slider
    box-sizing: border-box
    padding: 0 1px
    position: absolute
    width: 100%

    // Size
    &_size_s
        top: 24px
    &_size_m
        top: 34px
    &_size_l
        top: 44px

    // Type
    &_type_primary
    &_type_secondary

    // Slider rail
    & > div > div
        border: none

    // Slider track
    & > div > div > div
        border-radius: 0 0 0 3px
