.Icons
    text-align: center
.Icon
    align-items: center
    border-radius: 4px
    cursor: pointer
    display: inline-flex
    flex-flow: column
    height: 100px
    justify-content: center
    text-align: center
    vertical-align: middle
    width: 100px
    &:hover
        background-color: #eeeeee
.Icon__Icon
.Icon__Title
    font-size: 14px
    height: 30px
    i
        font-style: normal

.ClipboardInputWrapper
    height: 1px
    margin-bottom: -1px
    opacity: 0
    overflow: hidden
.ClipboardInput
