.Cell
    align-items: center
    background-color: rgba(86,61,124,.15)
    border: 1px solid rgba(86,61,124,.2)
    box-sizing: border-box
    color: black
    display: flex
    height: 100%
    justify-content: center
    padding: 10px
    text-align: center
