.Table
    $border-color: lighten($color-default, 20%)

    border-collapse: collapse
    width: 100%

    tr

    td, th
        border: none
        padding: 6px 3px
        text-align: left

        @include from-tab
            padding: 10px 7px

    td
        border-top: 1px solid $border-color

    th
        font-weight: 500

    thead tr

    tbody tr

    &_bordered
        th, td
            border: 1px solid $border-color

    &_striped
        tbody tr:nth-child(odd)
            background-color: lighten($color-default, 26%)

    &_hovered
        tbody tr:hover
            background-color: lighten($color-default, 23%)
