@import theme

.MenuGroup

.Header
    position: relative

.Title
    position: relative
    z-index: 2

.ToggleIcon
    position: absolute
    right: 16px
    top: 50%
    transform: translateY(-50%)
    transition: transform .2s ease
    z-index: 1
    @include from-tab
        right: 32px
    &_open
        transform: translateY(-50%) rotate(180deg)

    svg
        @include size(16px)
        @include from-tab
            @include size(20px)

.Children
    display: none
    &_open
        display: block
