@import ../../mixins/index
@import ../../variables/index

.InputSuggest
    background-color: $color-white
    position: relative
    &_disabled,
    &_readonly
        &:after
            background-color: $color-white
            content: ''
            height: 100%
            left: 0
            opacity: 0.3
            position: absolute
            top: 0
            width: 100%
            z-index: 1
    &_disabled
        cursor: no-drop
    &_readonly

.InputSuggest__Input
    input
        background: transparent
        &[readonly]
            @include placeholder-color($color-text-primary)

.InputSuggest__SuggestWrapper
    background-color: $color-white
    border: 1px solid lighten($color-default, 20%)
    border-radius: 4px
    box-sizing: border-box
    display: none
    max-height: 300px
    opacity: 1
    overflow: hidden
    position: absolute
    transition: margin .2s ease, opacity .2s ease
    width: 100%
    z-index: 2
    &_closing
        opacity: 0
    &_opening
        margin-top: 10px
        opacity: 0
    &_visible
        display: block
    &_size_s
        top: 42px
    &_size_m
        top: 52px

.InputSuggest__Suggest
    -webkit-overflow-scrolling: touch
    max-height: 300px
    overflow: auto
    width: calc(100% + 20px)
