@import ../../mixins/index

.Input
    display: block
    position: relative
    width: 100%


.Input__Label
    display: block
    position: relative

.Input__LabelText
    color: rgba($color-text-primary, 0.5)
    font-size: $font-size-l
    position: absolute
    transform-origin: 0 50%
    transform: scale(1)
    transition: color 0.2s ease-in-out, font-size 0.2s ease-in-out, transform 0.2s ease-in-out

    &_error
        color: $color-error
    &_place-top
        color: rgba($color-text-primary, 0.6)

    &_focus
        color: $color-primary

    // Size
    &_size_s
        font-size: $font-size-s
        top: 13px
        left: 12px
    &_size_s#{&}_place-top
        font-size: $font-size-xs
        transform: translateY(-8px)
    &_size_m
        font-size: $font-size-m
        left: 14px
        top: 14px
        @include from-tab
            font-size: $font-size-l
            left: 21px
            top: 21px
    &_size_m#{&}_place-top
        font-size: $font-size-s
        transform: translateY(-9px)
        @include from-tab
            transform: translateY(-12px)

.Input__Input
    @include no-tap-highlight
    @include placeholder-color(rgba($color-text-primary, 0.4))
    -webkit-appearance: none
    background-color: $bg-input
    border: 1px solid $bg-input
    border-radius: 4px
    box-sizing: border-box
    color: $color-text-primary
    display: block
    transition: all 0.2s ease-in-out
    width: 100%

    &[disabled]
        color: rgba($color-text-primary, 0.9)
    &[disabled] ~ .Input__PasswordIcon
        display: none

    &[readonly]
        background-color: lighten($color-grey, 55%)
        color: rgba($color-text-primary, 0.9)

    &:not([disabled]):not([readonly]):not(&_error):not(&_success)
        &:hover
            background-color: $bg-input
            border-color: $border-input-hover
        &:focus
            background-color: $color-white
            border-color: $border-input-hover

    &:focus
        outline: none

    // Autofill
    @include autofill($color-text-primary, $color-white)

    &_error
        border-color: $color-error
    &_success
        border-color: $color-success

    // Size
    &_size_s
        font-size: $font-size-s
        height: 43px
        padding: 14px
    &_size_s#{&}_with-label
        padding: 21px 11px 4px
    &_size_m
        font-size: $font-size-m
        height: 47px
        padding: 13px
        @include from-tab
            font-size: $font-size-l
            height: 63px
            padding: 20px
    &_size_m#{&}_with-label
        padding: 21px 13px 5px
        @include from-tab
            padding: 30px 20px 10px

    &_password#{&}_size_s
        padding-right: 40px !important
    &_password#{&}_size_m
        padding-right: 40px !important
        @include from-tab
            padding-right: 64px !important


.Input__DisabledIcon
    @include input-icon
    opacity: 0.2


.Input__PasswordIcon
    @include input-icon
    transition-property: opacity
    transition-duration: 0.3s
    opacity: 0.8
    &:hover
        opacity: 1


.Input__Error
    @include font-s
    color: $color-error
    margin-top: 5px

.Input__ErrorDetail
    position: relative

    display: none
    color: $color-danger
    margin-top: 3px


    flex-direction: row
    justify-content: flex-end

    &_visible
        display: flex


.Input__ErrorIcon
    color: $color-danger
    cursor: pointer

    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    align-items: center

    &_size_s
        svg
            @include size(15px)
    &_size_m
        svg
            @include size(18px)


.Input__Tooltip
    @include tooltip

    position: absolute
    padding: 10px 15px
    max-width: 50rem
    right: -10px
    color: $color-text-primary
    z-index: $z-tooltip
    bottom: calc(100% + 6px)

    &_visible
        display: block

    &_size_s
        padding: 7px 15px !important
        font-size: $font-size-s
    &_size_m
        padding: 10px 15px !important
        font-size: $font-size-m


    &:after
        @include arrow-top(8px, $color-white)
        border-bottom: solid 2px transparent
        content: ''
        position: absolute
        z-index: $z-tooltip + 2
        top: calc(100% - 1px)
        right: 10px
