@mixin action
    cursor: pointer
    opacity: 0.5
    position: relative
    transition: opacity .2s ease
    &:hover
        opacity: 1
    svg
        @include size(20px)
        @include from-tab
            @include size(24px)

@mixin contaner
    padding: 0 16px
    @include from-tab
        padding: 0 24px
