@import theme
@import mixins

.Example
    border: 1px solid lighten($color-grey, 45%)
    border-radius: 2px
    margin-bottom: 20px

.Children
    @include contaner
    padding-bottom: 24px
    padding-top: 24px
    @include from-tab
        padding-bottom: 32px
        padding-top: 32px

    & > *
        margin: 0 4px 4px 0
        vertical-align: middle

.Readme
    border-top: 1px solid lighten($color-grey, 45%)
    position: relative

    h1
        background-color: $color-white
        font-size: inherit
        font-weight: 500
        left: 8px
        line-height: 1
        margin: 0
        padding: 0 8px
        position: absolute
        top: -8px
        @include from-tab
            left: 16px

.Readme__Text
    @include contaner
    padding-bottom: 24px
    padding-top: 24px
    @include from-tab
        padding-bottom: 32px
        padding-top: 32px

.Readme__Actions
    @include contaner
    border-top: 1px dashed lighten($color-grey, 45%)
    display: flex
    justify-content: center
    padding-bottom: 8px
    padding-top: 8px
    @include from-tab
        padding-bottom: 16px
        padding-top: 16px

.ActionCode
    @include action
    &_active
        &:after
            background-color: $color-text-primary
            content: ''
            height: 14px
            left: 9px
            position: absolute
            top: 3px
            width: 2px
            @include from-tab
                height: 18px
                left: 11px

.Readme__Code
    border-top: 1px dashed lighten($color-grey, 45%)
    display: none
    @include from-tab
        padding: 0 8px
    &_visible
        display: block
