@import ../../mixins/index
@import ../../variables/index

.InputSuggest
    position: relative
    &_disabled,
    &_readonly
        &:after
            content: ''
            height: 100%
            left: 0
            opacity: 0
            position: absolute
            top: 0
            width: 100%
            z-index: 1
    &_disabled
        cursor: no-drop
        &:after
            content: ''
    &_readonly
        &:after
            content: ''
            background-color: $color-white

.InputSuggest__Input
    &[readonly]
        @include placeholder-color($color-text-primary)

.InputSuggest__SuggestWrapper
    background-color: $color-white
    border: 1px solid $border-input-hover
    border-radius: 4px
    box-sizing: border-box
    display: none
    max-height: 300px
    opacity: 1
    overflow: hidden
    position: absolute
    transition: margin .2s ease, opacity .2s ease
    width: 100%
    z-index: 2
    &_closing
        opacity: 0
    &_opening
        // margin-top: 10px
        opacity: 0
    &_visible
        display: block
    &#{&}_size_s
        top: 48px
    &#{&}_size_m
        top: 51px
        @include from-tab
            top: 67px

.InputSuggest__Suggest
    -webkit-overflow-scrolling: touch
    max-height: 300px
    overflow: auto
    width: calc(100% + 20px)
