@import ../variables/font

@mixin font-xs
    font-size: $font-size-xs
    line-height: $line-height-xs
    p
        margin: 0 0 $font-size-xs
@mixin font-s
    font-size: $font-size-s
    line-height: $line-height-s
    p
        margin: 0 0 $font-size-s
@mixin font-m
    font-size: $font-size-m
    line-height: $line-height-m
    p
        margin: 0 0 $font-size-m
@mixin font-l
    font-size: $font-size-l
    line-height: $line-height-l
    p
        margin: 0 0 $font-size-l
@mixin font-xl
    font-size: $font-size-xl
    line-height: $line-height-xl
    p
        margin: 0 0 $font-size-xl
@mixin font-xxl
    font-size: $font-size-xxl
    line-height: $line-height-xxl
    p
        margin: 0 0 $font-size-xxl
@mixin font-xxxl
    font-size: $font-size-xxxl
    line-height: $line-height-xxxl
    p
        margin: 0 0 $font-size-xxxl
@mixin font-xxxxl
    font-size: $font-size-xxxxl
    line-height: $line-height-xxxxl
    p
        margin: 0 0 $font-size-xxxxl
@mixin font-xxxxxl
    font-size: $font-size-xxxxxl
    line-height: $line-height-xxxxxl
    p
        margin: 0 0 $font-size-xxxxxl
