@import breakpoints

@mixin textarea
    // Size
    &_size_s
        @include font-s
        padding: 14px
    &_size_s#{&}_with-label
        padding: 21px 11px 4px
    &_size_m
        @include font-m
        padding: 13px
        @include from-tab
            @include font-l
            padding: 20px
    &_size_m#{&}_with-label
        padding: 21px 13px 10px
        @include from-tab
            padding: 30px 20px 14px
