@import ../../mixins/index

$checkbox-size-s: 24px
$checkbox-size-m: 30px
$checkbox-size-l: 36px
$checkbox-left-space: 8px

.Checkbox
    display: inline-block
    input[type='checkbox']
        opacity: 0
        position: absolute

.Checkbox__Label
    box-sizing: border-box
    cursor: pointer
    display: inline-block
    position: relative

    &:before
        border: 1px solid $color-grey-200
        border-radius: 2px
        border-radius: 50%
        box-sizing: border-box
        content: ''
        left: 0
        position: absolute
        top: 0
    &:after
        border-bottom: 2px solid $color-white
        border-left: 2px solid $color-white
        content: ''
        position: absolute

    &:hover:not(&_checked):not(&_disabled)
        &:before
            border-color: darken($color-default, 5%)

    &:focus-within:not(:hover)
        &:before
            border-color: darken($color-default, 5%)

    // Checked
    &_checked
        &:after
            display: block
            transform: rotate(-45deg)

    // Disabled
    &_disabled
        cursor: default
        opacity: 0.5

    // Type
    &_type_primary
        color: black
    &_type_primary#{&}_checked
        &:before
            background-color: $color-primary
            border-color: $color-primary
    &_type_secondary#{&}_checked
        &:before
            background-color: $color-secondary
            border-color: $color-secondary

    // Size
    &_size_s
        font-size: $font-size-m
        min-height: $checkbox-size-s
        padding-left: $checkbox-size-s + $checkbox-left-space
        padding-top: 2px
        &:before
            @include size($checkbox-size-s)
        &:after
            height: 7px
            left: 6px
            top: 5px
            width: 10px
    &_size_m
        font-size: $font-size-m
        min-height: $checkbox-size-m
        padding-left: $checkbox-size-m + $checkbox-left-space
        padding-top: 5px
        &:before
            @include size($checkbox-size-m)
        &:after
            height: 8px
            left: 8px
            top: 7px
            width: 12px
    &_size_l
        font-size: $font-size-l
        min-height: $checkbox-size-l
        padding-left: $checkbox-size-l + $checkbox-left-space
        padding-top: 6px
        &:before
            @include size($checkbox-size-l)
        &:after
            height: 9px
            left: 10px
            top: 10px
            width: 14px

.Checkbox__Error
    color: $color-error
    margin-top: 4px

    // Size
    &_size_s
        @include font-xs
        padding-left: $checkbox-size-s + $checkbox-left-space
    &_size_m
        @include font-s
        padding-left: $checkbox-size-m + $checkbox-left-space
    &_size_l
        @include font-m
        padding-left: $checkbox-size-l + $checkbox-left-space
