$pathToFonts: 'fonts'

@mixin font($file, $weight, $svgName, $style: normal)
    @font-face
        font-family: 'OpenSans'
        font-style: $style
        font-weight: $weight
        src: url('#{$pathToFonts}/#{$file}.woff2') format('woff2'), url('#{$pathToFonts}/#{$file}.woff') format('woff'), url('#{$pathToFonts}/#{$file}.svg##{$svgName}') format('svg')

@include font(OpenSans-Light, 300, 'OpenSans Light')
@include font(OpenSans-LightItalic, 300, 'OpenSans Light', italic)
@include font(OpenSans-Regular, 400, 'OpenSans')
@include font(OpenSans-RegularItalic, 400, 'OpenSans', italic)
@include font(OpenSans-SemiBold, 600, 'OpenSans SemiBold')
@include font(OpenSans-SemiBoldItalic, 600, 'OpenSans SemiBold', italic)
@include font(OpenSans-Bold, 700, 'OpenSans')
@include font(OpenSans-BoldItalic, 700, 'OpenSans', italic)
@include font(OpenSans-ExtraBold, 800, 'OpenSans ExtraBold')
@include font(OpenSans-ExtraBoldItalic, 800, 'OpenSans ExtraBold', italic)
