// Variables
$handle-size: 30px

// Mixins
@mixin slider-disabled-overlay()
    &:after
        content: ''
        height: 100%
        left: -($handle-size / 2)
        position: absolute
        top: 0
        width: calc(100% + #{$handle-size})
@mixin handle-size($width, $height)
    height: $height
    width: $width

.Slider
    position: relative

    // Size
    &_size_s
        height: $handle-size
    &_size_s#{&}_disabled,
    &_size_s#{&}_readonly
        @include slider-disabled-overlay
    &_size_m
        height: $handle-size
    &_size_m#{&}_disabled,
    &_size_m#{&}_readonly
        @include slider-disabled-overlay

    // Type
    &_type_primary
    &_type_secondary

    // Disabled
    &_disabled
        opacity: 0.6

    // Readonly
    &_readonly
        opacity: 0.6

.Slider__Rail
    border-bottom: 3px solid lighten($color-default, 20%)
    box-sizing: border-box
    height: 3px
    position: relative
    top: 50%
    transform: translateY(-1px)

    // Size
    &_size_s
    &_size_m

    // Type
    &_type_primary
    &_type_secondary

.Slider__Track
    height: 3px

    // Size
    &_size_s
    &_size_m

    // Type
    &_type_primary
        background-color: $color-primary
    &_type_primary#{&}_disabled,
    &_type_primary#{&}_readonly
        background-color: lighten($color-primary, 10%)
    &_type_secondary
        background-color: $color-secondary
    &_type_secondary#{&}_disabled,
    &_type_secondary#{&}_readonly
        background-color: lighten($color-secondary, 10%)

.Slider__HandleWrapper
    @include size($handle-size)
    align-items: center
    cursor: grab
    display: flex
    justify-content: center
    margin-left: -15px
    position: absolute
    top: 0
    touch-action: pan-x
    border: none
    background-color: transparent
    padding: 0
    &:active
        cursor: grabbing
        & > *
            box-shadow: 0 0 5px $color-default

.Slider__Handle
    display: block
    position: relative
    &:after,
    &:before
        box-sizing: border-box
        content: ''
        left: 50%
        position: absolute

    // Size
    &_size_s
        border-radius: 5px
        height: 21px
        width: 12px
        &:after,
        &:before
            margin-left: -3px
            width: 6px
        &:after
            height: 1px
            top: 13px
        &:before
            height: 4px
            top: 7px
    &_size_m
        border-radius: 6px
        height: 25px
        width: 14px
        &:after,
        &:before
            margin-left: -4px
            width: 8px
        &:after
            height: 1px
            top: 15px
        &:before
            height: 4px
            top: 9px

    // Type
    &_type_primary
        background-color: $color-primary
        &:after
            border-top: 1px solid $color-default
        &:before
            border-bottom: 1px solid $color-default
            border-top: 1px solid $color-default
    &_type_primary#{&}_disabled,
    &_type_primary#{&}_readonly
        background-color: lighten($color-primary, 10%)
    &_type_secondary
        background-color: $color-secondary
        &:after
            border-top: 1px solid rgba($color-text-primary, 0.8)
        &:before
            border-bottom: 1px solid rgba($color-text-primary, 0.8)
            border-top: 1px solid rgba($color-text-primary, 0.8)
    &_type_secondary#{&}_disabled,
    &_type_secondary#{&}_readonly
        background-color: lighten($color-secondary, 10%)
