@import ../../mixins/index


@mixin no-outline
    &:focus
        outline: none

.ImageViewer
    position: fixed
    height: 100vh
    width: 100vw
    left: 0
    top: 0
    z-index: $z-image-viewer
    display: none

    background-color: rgba($color-black, 0.2)
    transition: background-color 0.2s ease-out

    &_black
        background-color: $color-black
    &_show
        display: block

.ImageViewer__Background
    height: 100%
    left: 0
    position: absolute
    top: 0
    width: 100%

.ImageViewer__Close
    @include no-outline

    display: flex
    align-items: center
    justify-content: center
    position: absolute
    width: 40px
    height: 40px
    background-color: $color-white
    border: 1px solid rgba($color-text-primary, 0.3)
    border-radius: 50%
    color: rgba($color-text-primary, 0.5)
    z-index: 10
    cursor: pointer
    transition: transform 0.3s ease-out
    opacity: 1

    &:hover
        transform: rotate(90deg)

    &_hide
        opacity: 0
        &:not(.ImageViewer__Close_hide)
            transition: transform 0.15s ease-out

.ImageViewer__ImageWrapper
    position: absolute
    top: 0
    left: 0
    display: flex
    justify-content: center
    align-items: center
    width: 100%
    height: 100%
    & img
        max-height: calc(100% - 130px)
        max-width: calc(100% - 130px)
        position: relative
    &_transition
        transition: transform .3s, max-width .3s, max-height .3s
    &_move
        cursor: move

.ImageViewer__Button
    @include no-outline
    align-items: center
    background: rgb(0,0,0)
    border: none
    bottom: 0
    cursor: pointer
    display: flex
    justify-content: center
    opacity: 0.5
    position: absolute
    top: 0
    transition: all .2s
    width: 7%
    &:hover
        opacity: 1
    &[disabled]
        background: transparent
        cursor: default
        opacity: 0.5
    &_left
        background: linear-gradient(270deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%)
        left: 0
    &_right
        background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.3) 100%)
        right: 0

.ImageViewer__Rotate
    @include no-outline
    align-items: center
    background-color: rgba($color-white, 0.3)
    border: none
    border-radius: 50%
    box-shadow: 0 0 30px rgba($color-black, 0.7)
    color: rgba($color-text-primary, 0.8)
    cursor: pointer
    display: flex
    height: 100px
    justify-content: center
    left: 50%
    opacity: 0
    position: absolute
    top: 50%
    transform: translate(-50%, -50%)
    transition: all 0.3s ease-out
    width: 100px
    &:hover
        opacity: 1
    &_hide
        display: none
    svg
        @include size(30px)



.ImageViewer__Actions
    align-items: center
    bottom: 0
    display: flex
    height: 65px
    justify-content: center
    position: absolute

.ImageViewer__Action
    @include no-outline
    @include size(40px)
    align-items: center
    background-color: rgba($color-default, 0.2)
    background-position: center
    background-repeat: no-repeat
    border-radius: 50%
    border: none
    color: rgba($color-white, 0.7)
    cursor: pointer
    display: flex
    justify-content: center
    margin: 0 5px
    transition: background-color 0.3s ease-out, color 0.3s ease-out, opacity 0.3s ease-out
    &:hover
        background-color: rgba($color-default, 0.5)
    &_hidden
        visibility: hidden
    &_rotate
    &_zoom-in
    &_zoom-out
    &_download

    svg
        @include size(20px)
    &_download
        svg
            @include size(24px)

