@import theme

.MenuItem
    font-size: $font-size-s
    line-height: 40px

    @include from-tab
        font-size: $font-size-m

    a
        color: $color-text-primary
        cursor: pointer
        display: block
        padding-left: 16px
        padding-right: 16px
        position: relative
        text-decoration: none
        transition: color .2s ease
        &:hover
            color: $color-primary
        @include from-tab
            padding-left: 32px
            padding-right: 32px

    &_active
        a
            background-color: lighten($color-primary, 55%)
            color: $color-primary

    &_small
        a
            padding-left: 32px
            @include from-tab
                padding-left: 64px
