@mixin Wrapper
    &_display_block
        display: block
    &_display_flex
        display: flex
    &_display_inline
        display: inline
    &_display_inline-block
        display: inline-block
    &_display_inline-flex
        display: inline-flex
