@import ../../mixins/index
@import ../../variables/breakpoints
@import mixins

.Button
    border: 1px solid transparent
    border-radius: 4px
    box-shadow: none
    cursor: pointer
    max-width: 100%
    padding: 0
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out
    &:focus
        outline: none

    &[disabled]:not(&_processing)
        background-color: lighten($color-grey, 65%)
        border-color: lighten($color-grey, 40%)
        color: rgba($color-text-primary, 0.6)
        cursor: default

    // Type: default
    &_type_default
        @include button-border($color-grey)
        @include button-box-shadow
        background-color: $color-white
        color: $color-text-primary

        .Button__Spin > div
            border-top-color: $color-black
            opacity: 1

    // Type: primary
    &_type_primary
        @include button-background($color-primary)
        @include button-border($color-primary)
        @include button-box-shadow
        color: $color-white

        .Button__Spin > div
            border-top-color: $color-white

    // Type: secondary
    &_type_secondary
        @include button-background($color-secondary)
        @include button-border($color-secondary)
        @include button-box-shadow
        color: $color-white

        .Button__Spin > div
            border-top-color: $color-white

    // Size
    &_size_s
        font-size: $font-size-xs
        .Button__Container
            padding: 4px 16px
        .Button__IconLeft
            margin-left: -3px
        .Button__IconRight
            margin-right: -3px
        // Tab
        @media (min-width: $tab-min)
            font-size: $font-size-s
            .Button__Container
                padding: 8px 23px

    &_size_m
        font-size: $font-size-s
        .Button__Container
            padding: 8px 23px
        .Button__IconLeft
            margin-left: -4px
        .Button__IconRight
            margin-right: -4px
        // Tab
        @media (min-width: $tab-min)
            font-size: $font-size-m
            .Button__Container
                padding: 15px 31px

    &_size_l
        font-size: $font-size-m
        .Button__Container
            padding: 15px 31px
        .Button__IconLeft
            margin-left: -5px
        .Button__IconRight
            margin-right: -5px
        // Tab
        @media (min-width: $tab-min)
            font-size: $font-size-l
            .Button__Container
                padding: 21px 31px

    // Processing
    &_processing
        cursor: default
        .Button__Content,
        .Button__IconLeft,
        .Button__IconRight
            opacity: 0

    // Block
    &_block
        display: block
        width: 100%

.Button__Container
    align-items: center
    box-sizing: border-box
    display: flex
    justify-content: space-between
    position: relative

    &_no-icons
        justify-content: center

.Button__Content
    display: inline
    flex-grow: 1
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.Button__IconLeft,
.Button__IconRight
    & > span
        display: block

.Button__IconLeft
    margin-right: 5px

.Button__IconRight
    margin-left: 5px

.Button__Spin
    align-items: center
    display: flex
    height: calc(100% + 2px)
    justify-content: center
    left: -1px
    position: absolute
    top: -1px
    width: calc(100% + 2px)

    &:after
        background-color: $color-white
        content: ''
        height: 100%
        left: 0
        opacity: 0.5
        position: absolute
        top: 0
        width: 100%

    & > div
        opacity: 0.6
