@import ../../mixins/index

.InputDate
    position: relative
    margin: inherit

.InputDate__Input

.InputDate__Calendar
    width: 230px

    &_disabled
        display: none !important

.InputDate__Icon
    width: 50px
    position: absolute
    right: 0
    top: 0
    bottom: 0

    display: flex
    justify-content: center
    align-items: center

    cursor: pointer

    &_disabled
        cursor: not-allowed
        opacity: 0.3

    &_size_s
        svg
            @include size(20px)
    &_size_m
        svg
            @include size(22px)
    &_size_l
        svg
            @include size(24px)

