@import ../../mixins/index

.Modal
    display: none
    position: fixed
    height: 100vh
    left: 0
    overflow: auto
    top: 0
    width: 100vw
    z-index: $z-modal
    &_open
        display: block
    @include safari-only
        height: -webkit-fill-available

.Modal__Overlay
    animation: fade-in 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both
    background: rgba($color-black, 0.2)
    box-sizing: border-box
    position: fixed
    padding: 20px
    left: 0
    top: 0
    height: 100vh
    width: 100vw
    @include safari-only
        height: -webkit-fill-available

.Modal__Wrapper
    align-items: center
    box-sizing: border-box
    display: flex
    justify-content: center
    min-height: 100vh
    padding: 15px
    z-index: 1
    @include from-tab
        padding: 30px
    @include safari-only
        min-height: -webkit-fill-available

.Modal__Container
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both
    background: $color-white
    border-radius: 4px
    box-sizing: border-box
    max-width: 100%
    width: 640px

    // Size
    &_size_s
        width: 480px
    &_size_m
        width: 640px
    &_size_l
        width: 800px

.Modal__Close
    align-items: center
    box-sizing: border-box
    cursor: pointer
    display: flex
    justify-content: center
    opacity: 0.8
    position: absolute
    right: 15px
    top: 15px
    z-index: 2
    &:hover
        opacity: 1
    @include from-tab
        @include size(32px)
        border: 1px solid lighten($color-grey, 30%)
        border-radius: 50%
        right: 18px
        top: 18px
    svg
        @include size(20px)
        opacity: 0.5
        @include from-tab
            @include size(24px)

.Modal__Title
    @include font-xxl
    font-weight: 600
    padding: 15px 50px 15px 15px
    position: relative
    word-wrap: break-word
    z-index: 1
    &:after
        border-bottom: 1px solid lighten($color-grey, 30%)
        bottom: 0
        content: ''
        left: 0
        position: absolute
        width: 100%
    @include from-tab
        @include font-xxxxl
        padding: 25px 75px 25px 50px
        &:after
            left: 50px
            width: calc(100% - 100px)

.Modal__Content
    padding: 15px
    @include from-tab
        padding: 25px 50px

// Animation keyframes
@keyframes scale-in-center 
    0% 
        -webkit-transform: scale(0)
        transform: scale(0)
        opacity: 1
    100% 
        -webkit-transform: scale(1)
        transform: scale(1)
        opacity: 1
@keyframes fade-in 
    0% 
        opacity: 0

    100% 
        opacity: 1
