@import ../../mixins/index

$size: 8px

.Input
    display: block
    position: relative
    width: 100%

.Input__Label
    display: block

.Input__LabelText
    color: rgba($color-text-primary, 0.4)
    font-weight: 300
    position: absolute
    transform-origin: 0 50%
    transform: scale(1)
    transition: color 0.2s ease-in-out, left 0.2s ease-in-out, transform 0.2s ease-in-out
    white-space: nowrap

    &_error
        color: $color-error
    &_place-top
        color: rgba($color-text-primary, 0.6)

    // Size
    &_size_s
        font-size: $font-size-s
        left: 9px
        top: 12px
    &_size_s#{&}_place-top
        font-size: $font-size-xs
        transform: scale(0.85) translateY(-7px)
    &_size_m
        font-size: $font-size-l
        height: 20px
        left: 11px
        line-height: 20px
        top: 16px
    &_size_m#{&}_place-top
        font-size: $font-size-m
        transform: scale(0.85) translateY(-13px)

.Input__Input
    @include no-tap-highlight
    @include placeholder-color(rgba($color-text-primary, 0.4))
    -webkit-appearance: none
    background-color: transparent
    border: 1px solid lighten($color-default, 20%)
    border-radius: 4px
    box-sizing: border-box
    color: $color-text-primary
    display: block
    font-weight: 300
    padding: 0
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out
    width: 100%

    &[disabled]
        background-color: lighten($color-grey, 75%)
        color: rgba($color-text-primary, 0.3)

    &[disabled] ~ .Input__PasswordIcon
        display: none

    &:not([disabled]):not(&_error)
        &:focus
            border-bottom-color: $color-primary
            box-shadow: 0 -1px 0 0 $color-primary inset

    &:focus
        outline: none

    // Autofill
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus
        -webkit-text-fill-color: $color-text-primary
        -webkit-box-shadow: 0 0 0 1000px $color-white inset
        box-shadow: 0 0 0 1000px $color-white inset
        transition: none

    &_error
        border-bottom-color: $color-error
        box-shadow: 0 -1px 0 0px $color-error inset
    &_success
        border-bottom-color: $color-success
        box-shadow: 0 -1px 0 0px $color-success inset
    &_readonly
        & ~ span
            display: none

    // Size
    &_size_s
        font-size: $font-size-s
        height: 40px
        padding: 0 8px
    &_size_s#{&}_with-label
        padding-top: 11px
    &_size_m
        font-size: $font-size-l
        height: 50px
        padding: 0 10px
    &_size_m#{&}_with-label
        padding-top: 14px

    &_password#{&}_size_s
        padding-right: 38px !important
    &_password#{&}_size_m
        padding-right: 42px !important

.Input__DisabledIcon
    display: none

.Input__PasswordIcon
    position: absolute
    height: 100%
    right: 0
    top: 0
    box-sizing: border-box

    display: flex
    flex-direction: row
    justify-content: center

    cursor: pointer
    user-select: none

    &_size_s
        padding-top: 12px
        width: 38px
        svg
            @include size(20px)

    &_size_m
        padding-top: 15px
        width: 42px
        svg
            @include size(24px)

.Input__Error
    $font-size-coeff: 0.75

    color: $color-error
    margin-top: 5px
    width: 100%

    // Size
    &_size_s
        font-size: $font-size-s * $font-size-coeff
    &_size_m
        font-size: $font-size-l * $font-size-coeff


.Input__ErrorDetail
    position: relative

    display: none
    color: $color-danger
    margin-top: 3px


    flex-direction: row
    justify-content: flex-end

    &_visible
        display: flex


.Input__ErrorIcon
    color: $color-danger
    cursor: pointer

    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    align-items: center

    &_size_s
        svg
            @include size(15px)
    &_size_m
        svg
            @include size(18px)



.Input__Tooltip
    @include tooltip

    position: absolute
    padding: 10px 15px
    max-width: 50rem
    right: -10px
    color: $color-text-tetriary
    z-index: $z-tooltip
    bottom: calc(100% + 6px)

    &_visible
        display: block

    &_size_s
        padding: 7px 15px !important
        font-size: $font-size-s
    &_size_m
        padding: 10px 15px !important
        font-size: $font-size-m

    &:after
        @include arrow-top($size, $color-white)
        border-bottom: solid 2px transparent
        content: ''
        position: absolute
        z-index: $z-tooltip + 2
        top: calc(100% - 1px)
        right: 10px

