@import ../../mixins/index


$size_cell: 33px


.Calendar
    @include font-s

    max-width: 260px
    min-width: 180px
    width: 100%
    min-height: 256px
    box-sizing: border-box
    background: $color-white


.Calendar__Navigation
    width: 100%
    height: 44px

    display: flex
    flex-direction: row
    justify-content: space-between
    align-content: center
    align-items: center

    border-bottom: 1px solid $color-grey-100
    margin-bottom: 1rem

.Calendar__NavigateButton
    border: none
    outline: none
    background: transparent
    margin: 0
    padding: 0
    height: 100%
    cursor: pointer
    color: $color-orange

    svg
        @include size(22px)


.Calendar__Info
    font-size: inherit !important
    font-weight: 600
    min-width: 128px
    text-align: center
    white-space: nowrap


.Calendar__Content
    width: 100%
    display: flex
    flex-direction: column


.Calendar__ContentHeader
    width: 100%
    height: 24px
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-content: center
    align-items: center

    margin-bottom: 5px

.Calendar__DayName
    height: 100%
    width: calc(100% / 7)
    display: flex
    justify-content: center
    align-items: center
    box-sizing: border-box
    padding: 4.5px 0
    text-transform: uppercase
    font-weight: bold
    opacity: .5


.Calendar__Days
    width: 100%
    display: flex
    flex-direction: row
    justify-content: flex-start
    align-content: center
    align-items: center
    flex-wrap: wrap


.Calendar__DayWrapper
    width: calc(100% / 7)
    height: $size_cell
    background: $color-white

    display: flex
    justify-content: center
    align-content: center
    align-items: center



.Calendar__DayButton
    width: $size_cell
    height: $size_cell

    display: flex
    justify-content: center
    align-content: center
    align-items: center

    outline: none
    border: none
    cursor: pointer

    background: $color-white
    border-radius: 50%

    font-size: inherit

    padding: 0
    transition-property: background, color
    transition-duration: 0.2s

    &:hover:not(&_selected):not(&_disabled)
        background: $color-grey-100

    &_selected
        background: $color-orange
        color: $color-white !important
        transition-property: background, color
        transition-duration: 0.2s

    &_weekday
        color: inherit

    &_today
        background: $color-grey-100
        font-weight: 500

    &_disabled
        cursor: default
        opacity: 0.5
        &:hover
            background: none



