@import theme

.Logo
    cursor: pointer
    width: 62px
    padding: 8px 0
    font-size: $font-size-l
    text-align: center
    text-decoration: none
    color: currentColor

    @include from-tab
        font-size: $font-size-xl
        width: 78px

    @include from-desktop
        text-align: left
        width: auto

    b
        color: $color-primary
        font-weight: 400
