@import ../../mixins/index

$size: 8px

.Textarea
    position: relative

.Textarea__Container
    position: relative

.Textarea__Label
    position: absolute
    display: block
    top: 0
    left: 0
    bottom: 0
    right: 0


.Textarea__LabelText
    color: rgba($color-text-primary, 0.4)
    font-weight: 300
    position: absolute
    transform-origin: 0 50%
    transform: scale(1)
    transition: color 0.2s ease-in-out, left 0.2s ease-in-out, transform 0.2s ease-in-out
    white-space: nowrap

    &_error
        color: $color-error
    &_place-top
        color: rgba($color-text-primary, 0.6)

    // Size
    &_size_s
        font-size: $font-size-s
        left: 9px
        top: 12px
    &_size_s#{&}_place-top
        font-size: $font-size-xs
        transform: scale(0.85) translateY(-9px)
    &_size_m
        font-size: $font-size-l
        height: 20px
        left: 11px
        line-height: 20px
        top: 16px
    &_size_m#{&}_place-top
        font-size: $font-size-m
        transform: scale(0.85) translateY(-15px)

.Textarea__Textarea
    @include no-tap-highlight
    @include placeholder-color(rgba($color-text-primary, 0.4))
    @include textarea
    -webkit-appearance: none
    background-color: transparent
    border: 1px solid lighten($color-default, 20%)
    border-radius: 4px
    box-sizing: border-box
    color: $color-text-primary
    display: block
    font-weight: 300
    padding: 0
    transition: border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out
    width: 100%
    height: 100%
    position: relative
    resize: none
    overflow: hidden
    outline: none

    &[disabled]
        background-color: lighten($color-grey, 67%)
        color: rgba($color-text-primary, 0.4)
        & ~ span
            display: none

    &:not([disabled]):not(&_error)
        &:hover
            border-color: rgba($color-secondary, 0.6)
        &:focus
            border-color: $color-secondary
            box-shadow: 0 0 2px $color-secondary

    &_resize
        resize: both

    // Autofill
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus
        -webkit-text-fill-color: $color-text-primary
        -webkit-box-shadow: 0 0 0px 1000px $color-white inset

    &_error
        border-color: $color-error
    &_success
        border-color: $color-success
    &_readonly
        & ~ span
            display: none


.Textarea__HiddenBlock
    @include textarea

    width: 100%
    display: block
    box-sizing: border-box
    white-space: pre-wrap
    word-wrap: break-word
    overflow-wrap: break-word
    background: transparent
    color: transparent
    opacity: 0
    visibility: hidden


.Textarea__Error
    $font-size-coeff: 0.75

    color: $color-error
    margin-top: 5px
    width: 100%

    // Size
    &_size_s
        font-size: $font-size-s * $font-size-coeff
    &_size_m
        font-size: $font-size-l * $font-size-coeff


.Textarea__ErrorDetail
    position: relative

    display: none
    color: $color-danger
    margin-top: 3px


    flex-direction: row
    justify-content: flex-end

    &_visible
        display: flex


.Textarea__ErrorIcon
    color: $color-danger
    cursor: pointer

    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    align-items: center

    &_size_s
        svg
            @include size(15px)
    &_size_m
        svg
            @include size(18px)



.Textarea__Tooltip
    @include tooltip

    position: absolute
    padding: 10px 15px
    max-width: 50rem
    right: -10px
    color: $color-text-tetriary
    z-index: $z-tooltip
    bottom: calc(100% + 6px)

    &_visible
        display: block

    &_size_s
        padding: 7px 15px !important
        font-size: $font-size-s
    &_size_m
        padding: 10px 15px !important
        font-size: $font-size-m

    &:after
        @include arrow-top($size, $color-white)
        border-bottom: solid 2px transparent
        content: ''
        position: absolute
        z-index: $z-tooltip + 2
        top: calc(100% - 1px)
        right: 10px

