@import ../../variables/index

.Suggest

.Suggest__Options
    margin: 0
    padding: 0

.Suggest__Option
    border-top: 1px solid lighten($color-default, 20%)
    &:first-child
        border-top: none
