.Table
    $border-color: lighten($color-default, 10%)

    border-collapse: collapse
    width: 100%

    tr

    td, th
        border: none
        padding: 12px 7.5px
        text-align: left

        @include from-tab
            padding: 18px 12.5px

    td
        border-top: 1px solid $border-color

    th
        font-weight: 500

    thead tr

    tbody tr

    &_bordered
        th, td
            border: 1px solid $border-color

    &_striped
        tbody tr:nth-child(odd)
            background-color: lighten($color-default, 16%)

    &_hovered
        tbody tr:hover
            background-color: lighten($color-default, 13%)
