$pathToFonts: 'fonts'

@mixin font($file, $weight, $svgName, $style: normal)
    @font-face
        font-family: 'Muller'
        font-style: $style
        font-weight: $weight
        src: url('#{$pathToFonts}/#{$file}.woff') format('woff'), url('#{$pathToFonts}/#{$file}.svg##{$svgName}') format('svg')

@include font(MullerThin, 100, 'MullerThin', 'thin')
@include font(MullerNarrow-Light, 200, 'MullerNarrow-Light','narrow-light')
@include font(MullerLight, 300, 'MullerLight','light')
@include font(MullerRegular, 400, 'MullerRegular','normal')
@include font(MullerMedium, 500, 'MullerMedium','medium')
@include font(MullerBold, 700, 'MullerBold','bold')
@include font(MullerExtraBold, 800, 'MullerExtraBold','extra-bold')
@include font(MullerBlack, 900, 'MullerBlack','extra-bold')
