.LHeader
    background-color: $color-white
    border-bottom: 1px solid lighten($color-default, 20%)
    box-sizing: border-box
    height: $header-height-mobile
    left: 0
    position: fixed
    top: 0
    width: 100%
    z-index: $z-header

    @include from-tab
        height: $header-height-tab
    @include from-desktop
        height: $header-height-desktop
    @include large-desktop
        height: $header-height-large-desktop

    &_sidebar-side_left
        @include from-desktop
            left: $sidebar-width-desktop
            width: calc(100% - #{$sidebar-width-desktop})
        @include large-desktop
            left: $sidebar-width-large-desktop
            width: calc(100% - #{$sidebar-width-large-desktop})

    &_sidebar-side_right
        @include from-desktop
            width: calc(100% - #{$sidebar-width-desktop})
        @include large-desktop
            width: calc(100% - #{$sidebar-width-large-desktop})

    &_sidebar-side_both
        @include from-desktop
            left: $sidebar-width-desktop
            width: calc(100% - #{$sidebar-width-desktop} - #{$sidebar-width-desktop})
        @include large-desktop
            left: $sidebar-width-large-desktop
            width: calc(100% - #{$sidebar-width-large-desktop} - #{$sidebar-width-large-desktop})

