@import ../../mixins/index

@mixin spin-border($border-color)
    border-color: $color-grey-100 $color-grey-100 $border-color $border-color

.Spin
    animation: spin_animation_rotate .6s linear infinite, spin_animation_fade .6s cubic-bezier(0, 0.7, 1, 0.45) infinite
    border: 1px solid
    border-radius: 50%
    box-sizing: border-box
    transition: opacity 0.2s ease

    // Size
    &_size_xs
        @include size(16px)
    &_size_s
        @include size(20px)
    &_size_m
        @include size(30px)
    &_size_l
        @include size(42px)
    &_size_xl
        @include size(60px)
    &_size_xxl
        @include size(72px)

   
    // Type
    &_type_default
        @include spin-border($color-primary)
    &_type_primary
        @include spin-border($color-primary)
    &_type_secondary
        @include spin-border($color-secondary)
    &_type_danger
        @include spin-border($color-danger)
    &_type_success
        @include spin-border($color-success)
    &_type_info
        @include spin-border($color-info)
    &_type_warning
        @include spin-border($color-warning)
    &_type_black
        @include spin-border($color-black)
    &_type_white
        @include spin-border($color-white)

// Animation
@keyframes spin_animation
    0%
        transform: rotate(0deg)
    100%
        transform: rotate(360deg)

@keyframes spin_animation_rotate
    0%
        transform: none
    100%
        transform: rotate(1turn)

@keyframes spin_animation_fade
    from, to
        opacity: 0
    50%
        opacity: 1
