@import ../../mixins/index

.InputDate
    margin: inherit
    position: relative

.InputDate__Input
    &_size_s
        input
            padding-right: 43px !important
    &_size_m
        input
            padding-right: 63px !important

.InputDate__Calendar
    width: 230px
    &_disabled,
    &_readonly
        display: none !important

.InputDate__Icon
    @include input-icon
    transition-property: opacity
    transition-duration: 0.3s
    opacity: 0.8
    &:hover
        opacity: 1

    &_disabled,
    &_readonly
        cursor: not-allowed
        opacity: 0.3
    &_disabled
        display: none
