@import ../../mixins/index

$checkbox-size-s: 16px
$checkbox-size-m: 19px
$checkbox-size-l: 22px
$checkbox-left-space: 8px

.Checkbox
    display: inline-block
    input[type='checkbox']
        opacity: 0
        position: absolute

.Checkbox__Label
    cursor: pointer
    display: inline-block
    font-weight: 300
    position: relative

    &:before
        border: 1px solid $color-default
        border-radius: 2px
        box-sizing: border-box
        content: ''
        left: 0
        position: absolute
        top: 0
    &:after
        border-bottom: 2px solid $color-white
        border-left: 2px solid $color-white
        content: ''
        position: absolute

    &:hover:not(&_checked):not(&_disabled)
        &:before
            border-color: darken($color-default, 5%)

    &:focus-within:not(:hover)
        &:before
            border-color: darken($color-default, 5%)

    // Checked
    &_checked
        &:after
            display: block
            transform: rotate(-45deg)

    // Disabled
    &_disabled
        cursor: default
        opacity: 0.5

    // Type
    &_type_primary
        color: black
    &_type_primary#{&}_checked
        &:after
            border-color: $color-primary
    &_type_secondary#{&}_checked
        &:after
            border-color: $color-secondary

    // Size
    &_size_s
        font-size: $font-size-s
        min-height: $checkbox-size-s
        padding-left: $checkbox-size-s + $checkbox-left-space
        &:before
            @include size($checkbox-size-s)
        &:after
            height: 4px
            left: 4px
            top: 4px
            width: 7px
    &_size_m
        font-size: $font-size-m
        min-height: $checkbox-size-m
        padding-left: $checkbox-size-m + $checkbox-left-space
        &:before
            @include size($checkbox-size-m)
        &:after
            height: 4px
            left: 5px
            top: 5px
            width: 8px
    &_size_l
        font-size: $font-size-l
        min-height: $checkbox-size-l
        padding-left: $checkbox-size-l + $checkbox-left-space
        &:before
            @include size($checkbox-size-l)
        &:after
            height: 5px
            left: 6px
            top: 6px
            width: 9px

.Checkbox__Error
    color: $color-error
    font-weight: 300
    margin-top: 4px

    // Size
    &_size_s
        @include font-xs
        padding-left: $checkbox-size-s + $checkbox-left-space
    &_size_m
        @include font-s
        padding-left: $checkbox-size-m + $checkbox-left-space
    &_size_l
        @include font-m
        padding-left: $checkbox-size-l + $checkbox-left-space
