.InputSlider

    position: relative
    // Size
    &_size_s
    &_size_m

    // Type
    &_type_primary
    &_type_secondary

.InputSlider__Input

    // Size
    &_size_s
    &_size_m

    // Type
    &_type_primary
    &_type_secondary

.InputSlider__Slider
    position: absolute
    width: 100%
    // Size
    &_size_s
        top: 19px
    &_size_m
        top: 43px

    // Type
    &_type_primary
    &_type_secondary

    // Slider rail
    & > div > div
        border: none
