.InputSlider

    // Size
    &_size_s
    &_size_m

    // Type
    &_type_primary
    &_type_secondary

.InputSlider__Input

    // Size
    &_size_s
    &_size_m

    // Type
    &_type_primary
    &_type_secondary

.InputSlider__Slider
    margin-top: -30px
    position: relative
    top: 14px

    // Size
    &_size_s
    &_size_m

    // Type
    &_type_primary
    &_type_secondary

    // Slider rail
    & > div > div
        border-radius: 0 0 3px 3px
    // Slider track
    & > div > div > div
        border-radius: 0 0 0 3px
