@import ../../mixins/index

.Image
    img
        display: block
            
    // Size
    &_size_contain
        img
            max-height: 100%
            max-width: 100%

    &_size_cover
        img

    // Show loader
    &_show-loader
        .Image__Loader
            display: block
        img
            visibility: hidden
    
    &_size_contain,
    &_size_cover,
    &_show-loader
        @include size(100%)
        align-items: center
        display: flex
        justify-content: center
        overflow: hidden

.Image__Loader
    display: none
    position: absolute
