@import ../../mixins/index

$size: 8px


.Textarea
    display: block
    position: relative
    width: 100%

.Textarea__Container
    position: relative

.Textarea__Label
    position: absolute
    display: block
    top: 0
    left: 0
    bottom: 0
    right: 0

.Textarea__LabelText
    color: rgba($color-text-primary, 0.4)
    left: 0
    position: absolute
    transform-origin: 0 50%
    transform: scale(1)
    transition: color 0.2s ease-in-out, transform 0.2s ease-in-out

    &_error
        color: $color-error
    &_place-top
        color: rgba($color-text-primary, 0.6)

    // Size
    &_size_s
        font-size: $font-size-s
        top: 18px
    &_size_s#{&}_place-top
        font-size: $font-size-xs
        transform: scale(0.85) translateY(-16px)
    &_size_m
        font-size: $font-size-l
        height: 20px
        line-height: 20px
        top: 32px
    &_size_m#{&}_place-top
        font-size: $font-size-m
        transform: scale(0.85) translateY(-28px)

.Textarea__Textarea
    @include no-tap-highlight
    @include placeholder-color(rgba($color-text-primary, 0.4))
    @include textarea
    -webkit-appearance: none
    background-color: transparent
    border: none
    border-bottom: 1px solid rgba($color-black, 0.2)
    border-radius: 0
    box-sizing: border-box
    color: $color-text-primary
    display: block
    padding: 0
    transition: border-color 0.2s ease-in-out
    width: 100%
    height: 100%

    position: relative
    resize: none
    overflow: hidden
    outline: none

    &[disabled]
        background-color: lighten($color-grey, 55%)
        color: rgba($color-text-primary, 0.4)
        & ~ span
            display: none

    &:not([disabled]):not(&_error):not(&_success)
        &:hover
            border-bottom-color: rgba($color-black, 0.6)
        &:focus
            border-bottom-color: $color-black


    // Autofill
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus
        -webkit-text-fill-color: $color-text-primary
        -webkit-box-shadow: 0 0 0px 1000px $color-white inset

    &_error
        border-bottom-color: $color-error
    &_success
        border-bottom-color: $color-success
    &_readonly
        & ~ span
            display: none



.Textarea__HiddenBlock
    @include textarea

    width: 100%
    display: block
    box-sizing: border-box
    white-space: pre-wrap
    word-wrap: break-word
    overflow-wrap: break-word
    background: transparent
    color: transparent
    opacity: 0
    visibility: hidden


.Textarea__Error
    $font-size-coeff: 0.75

    color: $color-error
    left: 0
    overflow: hidden
    position: absolute
    text-overflow: ellipsis
    white-space: nowrap
    width: 100%

    // Size
    &_size_s
        bottom: 4px
        font-size: $font-size-s * $font-size-coeff
    &_size_m
        bottom: 0
        font-size: $font-size-l * $font-size-coeff



.Textarea__ErrorDetail
    position: relative

    display: none
    color: $color-danger
    margin-top: 3px


    flex-direction: row
    justify-content: flex-end

    &_visible
        display: flex




.Textarea__ErrorIcon
    color: $color-danger
    cursor: pointer

    display: flex
    flex-direction: row
    justify-content: center
    align-content: center
    align-items: center

    &_size_s
        svg
            @include size(15px)
    &_size_m
        svg
            @include size(18px)




.Textarea__Tooltip
    @include tooltip

    position: absolute
    padding: 10px 15px
    max-width: 50rem
    right: -10px
    color: $color-text-primary
    z-index: $z-tooltip
    bottom: calc(100% + 6px)

    &_visible
        display: block

    &_size_s
        padding: 7px 15px !important
        font-size: $font-size-s
    &_size_m
        padding: 10px 15px !important
        font-size: $font-size-m


    &:after
        @include arrow-top($size, $color-white)
        border-bottom: solid 2px transparent
        content: ''
        position: absolute
        z-index: $z-tooltip + 2
        top: calc(100% - 1px)
        right: 10px

