@import theme

.ThemeChanger
    align-items: center
    display: flex
    select

.ThemeChanger__Label
    display: none
    margin-right: 4px
    @include from-tab
        display: block

.ThemeChanger__Select
