.H
    font-weight: 400
    // Size
    &_size_1
        @include font-xxxl
        margin: 0 0 32px
        @include from-tab
            @include font-xxxxl
    &_size_2
        @include font-xxl
        margin: 0 0 16px
        @include from-tab
            @include font-xxxl
    &_size_3
        @include font-xl
        margin: 0 0 16px
        @include from-tab
            @include font-xxl
