@import ../../mixins/index

$arrowSize: 8px

.Tooltip
    position: relative
    cursor: pointer

    &_content
        background-color: $color-white
        border: 1px solid rgba($color-text-primary, 0.1)
        border-radius: 8px
        box-shadow: 0 10px 10px 0 rgba(128, 128, 128, 0.2)
        height: auto
        padding: 15px
        position: absolute
        max-width: 400px
        z-index: $z-tooltip

    &_arrow
        position: absolute
        z-index: $z-tooltip + 1


    // Placement
    &_placement
        &_top
            margin-top: -10px
        &_right
            margin-left: 10px
        &_left
            margin-left: -10px
        &_bottom
            margin-top: 10px

        &_arrow
            &_top
                bottom: -($arrowSize * 2)
                left: 50%
                transform: translateX(-50%)
                @include arrow-top($arrowSize, rgba($color-text-primary, 0.1))
                &:after
                    content: ''
                    position: absolute
                    bottom: -$arrowSize + 2
                    left: -$arrowSize + 1
                    @include arrow-top(($arrowSize - 1), $color-white)
                    z-index: $z-tooltip + 2

            &_right
                left: -($arrowSize * 2)
                top: 50%
                transform: translateY(-50%)
                @include arrow-right($arrowSize, rgba($color-text-primary, 0.1))
                &:after
                    content: ''
                    position: absolute
                    left: -$arrowSize + 2
                    top: -$arrowSize + 1
                    @include arrow-right(($arrowSize - 1), $color-white)
                    z-index: $z-tooltip + 2
            &_left
                right: -($arrowSize * 2)
                top: 50%
                transform: translateY(-50%)
                @include arrow-left($arrowSize, rgba($color-text-primary, 0.1))
                &:after
                    content: ''
                    position: absolute
                    right: -$arrowSize + 2
                    top: -$arrowSize + 1
                    @include arrow-left(($arrowSize - 1), $color-white)
                    z-index: $z-tooltip + 2
            &_bottom
                top: -($arrowSize * 2)
                left: 50%
                transform: translateX(-50%)
                @include arrow-bottom($arrowSize, rgba($color-text-primary, 0.1))
                &:after
                    content: ''
                    position: absolute
                    top: -$arrowSize + 2
                    left: -$arrowSize + 1
                    @include arrow-bottom(($arrowSize - 1), $color-white)
                    z-index: $z-tooltip + 2
   