@import theme

.WContainer
    margin: 0 auto
    padding-left: 16px
    padding-right: 16px
    @include from-tab
        padding-left: 32px
        padding-right: 32px
    @include from-desktop
        padding-left: 64px
        padding-right: 64px
