.H
    font-weight: bold

    // Size
    &_size_1
        @include font-xxl
        margin: 0 0 32px
        @include from-tab
            @include font-xxxl
    &_size_2
        @include font-xl
        margin: 0 0 16px
        @include from-tab
            @include font-xxl
    &_size_3
        @include font-l
        margin: 0 0 16px
        @include from-tab
            @include font-xl
    &_size_4
        @include font-m
        margin: 0 0 8px
        @include from-tab
            @include font-l
    &_size_5
        @include font-s
        margin: 0 0 8px
        @include from-tab
            @include font-m
    &_size_6
        @include font-xs
        margin: 0 0 8px
        @include from-tab
            @include font-s
