.Table
    $border-color: lighten($color-default, 30%)

    border-collapse: collapse
    width: 100%

    tr

    td, th
        border: none
        padding: 8px 7px
        text-align: left

        @include from-tab
            padding: 12px 10px

    td
        border-top: 1px solid $border-color

    th
        color: $color-black
        font-weight: normal

    thead tr

    tbody tr

    &_bordered
        th, td
            border: 1px solid $border-color

    &_striped
        tbody tr:nth-child(odd)
            background-color: lighten($color-default, 36%)

    &_hovered
        tbody tr:hover
            background-color: lighten($color-default, 33%)
