@mixin autofill($fill-color, $shadow-color)
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus
        -webkit-text-fill-color: $fill-color
        -webkit-box-shadow: 0 0 0 1000px $shadow-color inset
    
@mixin no-tap-highlight
    -webkit-tap-highlight-color: transparent

@mixin placeholder-color($color)
    &::placeholder
        color: $color
        opacity: 1
    &:-ms-input-placeholder
        color: $color
    &::-ms-input-placeholder
        color: $color

@mixin size($size)
    height: $size
    width: $size