@mixin textarea
    &_size_s
        font-size: $font-size-s
        padding: 12px
    &_size_s#{&}_with-label
        padding: 18px 10px 6px

    &_size_m
        min-height: 50px
        font-size: $font-size-m
        padding: 16px
    &_size_m#{&}_with-label
        padding: 26px 14px 6px

    &_size_l
        font-size: $font-size-l
        padding: 20px 20px 19px
    &_size_l#{&}_with-label
        padding: 30px 18px 9px