@import ../../mixins/index

// Notification
.Notification
    @include box-shadow-l(rgba($color-black, 0.16))
    background-color: $color-white
    border-left: 4px solid transparent
    box-sizing: border-box
    margin-bottom: 15px
    position: relative
    transition: margin 0.3s ease-in-out, opacity 0.15s ease-in-out

    &:last-child
        margin-bottom: 0

    // Size
    &_size_m
        padding: 15px

    // Type
    &_type_danger
        border-left: 4px solid $color-danger
    &_type_info
        border-left: 4px solid $color-info
    &_type_success
        border-left: 4px solid $color-success
    &_type_warning
        border-left: 4px solid $color-warning

    // Closing
    &_closing
        opacity: 0

// Title
.Notification__Title
    // Size
    &_size_m
        font-size: $font-size-m

    // Type
    &_type_danger
        color: $color-danger
    &_type_info
        color: $color-info
    &_type_success
        color: $color-success
    &_type_warning
        color: $color-warning

// Description
.Notification__Description
    margin-top: 10px

    // Size
    &_size_m
        font-size: $font-size-m

    // Type
    &_type_danger
    &_type_info
    &_type_success
    &_type_warning

// Close
.Notification__Close
    cursor: pointer
    opacity: 0.4
    position: absolute
    transition: opacity 0.2s ease-in-out
    background-color: transparent
    border: none

    &:hover
        opacity: 0.6
    &:focus
        outline: none

    &:after,
    &:before
        background-color: $color-black
        content: ''
        height: 2px
        left: 0
        position: absolute
    &:after
        transform: rotate(45deg)
    &:before
        transform: rotate(-45deg)

    // Size
    &_size_m
        @include size(14px)
        right: 15px
        top: 15px

        &:after,
        &:before
            top: 6px
            width: 14px

.Notification__Message
    display: block
    margin-top: 10px
    &:first-child
        margin-top: 0