@import mixins

.Switch
    align-items: center
    display: inline-flex
    input[type='checkbox']
        -webkit-appearance: none
        appearance: none
        position: absolute

.Switch__Label
    $size-s: 24px
    $size-m: 32px
    $size-l: 40px

    background-color: lighten($color-default, 27%)
    cursor: pointer
    display: inline-block
    position: relative
    transition: background-color 0.1s ease-in-out

    &:hover:not(&_checked):not(&_disabled)

    &:after
        background-color: $color-white
        box-shadow: 0 4px 16px 0 rgba(10, 31, 51, 0.24)
        content: ''
        left: 0
        position: absolute
        top: 0
        transition: left 0.1s ease-in-out

    // Checked
    &_checked#{&}_size_s:after
        left: $size-s
    &_checked#{&}_size_m:after
        left: $size-m
    &_checked#{&}_size_l:after
        left: $size-l

    // Disabled
    &_disabled
        cursor: default
        opacity: 0.5

    // Type
    &_type_primary#{&}_checked
        background-color: $color-primary
    &_type_secondary#{&}_checked
        background-color: $color-secondary

    // Size
    &_size_s
        @include label-size($size-s)
    &_size_m
        @include label-size($size-m)
    &_size_l
        @include label-size($size-l)

.Switch__Content
    &_size_s
        font-size: $font-size-s
        margin-left: 12px
    &_size_m
        font-size: $font-size-m
        margin-left: 16px
    &_size_l
        font-size: $font-size-l
        margin-left: 20px
