@import mixins

.Switch
    align-items: center
    display: inline-flex
    input[type='checkbox']
        -webkit-appearance: none
        appearance: none
        position: absolute

.Switch__Label
    $padding: 3px
    $size-s: 30px
    $size-m: 36px
    $size-l: 42px

    background-color: lighten($color-default, 30%)
    cursor: pointer
    display: inline-block
    padding: $padding
    position: relative
    transition: background-color 0.1s ease-in-out

    &:hover:not(&_checked):not(&_disabled)

    &:after
        background-color: $color-white
        content: ''
        left: $padding
        position: absolute
        top: $padding
        transition: left 0.1s ease-in-out

    // Checked
    &_checked#{&}_size_s:after
        left: $size-s - $padding
    &_checked#{&}_size_m:after
        left: $size-m - $padding
    &_checked#{&}_size_l:after
        left: $size-l - $padding

    // Disabled
    &_disabled
        cursor: default
        opacity: 0.5

    // Type
    &_type_primary#{&}_checked
        background-color: $color-primary
    &_type_secondary#{&}_checked
        background-color: $color-danger

    // Size
    &_size_s
        @include label-size($size-s - $padding * 2)
    &_size_m
        @include label-size($size-m - $padding * 2)
    &_size_l
        @include label-size($size-l - $padding * 2)

.Switch__Content
    &_size_s
        font-size: $font-size-s
        margin-left: 12px
    &_size_m
        font-size: $font-size-m
        margin-left: 16px
    &_size_l
        font-size: $font-size-l
        margin-left: 20px
