@mixin textarea
    // Size
    &_size_s
        font-size: $font-size-s
        min-height: 40px
        padding: 10px 8px
    &_size_s#{&}_with-label
        padding-top: 20px
    &_size_m
        font-size: $font-size-m
        min-height: 50px
        padding: 10px
    &_size_m#{&}_with-label
        padding-top: 20px