@import ../../mixins/index

.ConfirmModal

.ConfirmModal__Content
    margin-bottom: 15px
    @include from-tab
        margin-bottom: 30px
    
.ConfirmModal__Buttons
    display: flex
    justify-content: flex-end

.ConfirmModal__Button
    min-width: 100px
    & + &
        margin-left: 10px
