@import ../../mixins/index
@import ../../variables/breakpoints
@import ../../variables/colors
@import mixins

.Button
    border: 1px solid transparent
    box-shadow: none
    cursor: pointer
    max-width: 100%
    padding: 0
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out, box-shadow 0.2s ease-in-out
    &:focus 
        outline: none

    &[disabled]:not(&_processing)
        opacity: 0.6
        cursor: default

    // Type: default
    &_type_default
        @include button-border($color-primary)
        @include button-box-shadow($color-grey-400, $color-grey-400)
        background-color: $color-white
        color: $color-primary
        font-weight: 500

        &:not([disabled]):not([processing])
            &:hover 
                background-color: $color-white

        .Button__Spin > div
            border-top-color: $color-primary
            opacity: 0.6

    // Type: primary
    &_type_primary
        @include button-background($color-primary)
        @include button-border($color-primary)
        @include button-box-shadow($color-grey-400, $color-grey-400)
        color: $color-white
        text-transform: uppercase

        .Button__Spin > div 
            border-top-color: $color-white

    // Type: secondary
    &_type_secondary
        @include button-border($color-default)
        @include button-box-shadow($color-grey-400, $color-grey-400)
        background-color: $color-white
        color: $color-text-primary
        text-transform: uppercase

        &:not([disabled]):not([processing])
            &:hover
                background-color: $color-white

        .Button__Spin > div
            border-top-color: $color-grey-400
            opacity: 0.6

    // Type: info
    &_type_info
        @include button-border($color-grey-200)
        @include button-box-shadow($color-grey-400, $color-grey-400)
        background-color: $color-white
        color: $color-primary
        text-transform: uppercase

        &:not([disabled]):not([processing])
            &:hover
                background-color: $color-white

        .Button__Spin > div 
            border-top-color: $color-primary
            opacity: 0.6

    // Size
    &_size_s
        border-radius: 15px
        @include from-tab
            border-radius: 27px
        font-size: $font-size-s
        .Button__Container
            padding: 6px 10px
            @include from-tab
                padding: 8px 12px
        .Button__IconLeft
            margin-left: -3px
        .Button__IconRight
            margin-right: -3px
        svg
            @include size(16px)

    &_size_m
        border-radius: 19px
        @include from-tab
            border-radius: 23px
        font-size: $font-size-m
        .Button__Container
            padding: 8px 12px
            @include from-tab
                padding: 12px 18px
        .Button__IconLeft
            margin-left: -4px
        .Button__IconRight
            margin-right: -4px
        svg
            @include size(19px)

    &_size_l
        border-radius: 24px
        @include from-tab
            border-radius: 30px
        font-size: $font-size-l
        .Button__Container
            padding: 12px 18px
            @include from-tab
                padding: 18px 24px
        .Button__IconLeft
            margin-left: -5px
        .Button__IconRight
            margin-right: -5px
        svg
            @include size(21px)


    // Processing
    &_processing
        cursor: default
        .Button__Content,
        .Button__IconLeft,
        .Button__IconRight
            opacity: 0

    // Block
    &_block
        display: block
        width: 100%

.Button__Container
    align-items: center
    box-sizing: border-box
    display: flex
    justify-content: space-between
    align-items: center
    position: relative

    &_no-icons
        justify-content: center

.Button__Content
    display: inline
    flex-grow: 1
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.Button__IconLeft,
.Button__IconRight
    & > span
        display: flex
        align-items: center

.Button__IconLeft
    margin-right: 5px

.Button__IconRight
    margin-left: 5px

.Button__Spin
    align-items: center
    display: flex
    height: calc(100% + 2px)
    justify-content: center
    left: -1px
    position: absolute
    top: -1px
    width: calc(100% + 2px)

    &:after
        background-color: $color-white
        content: ''
        height: 100%
        left: 0
        opacity: 0.5
        position: absolute
        top: 0
        width: 100%

    & > div
        opacity: 0.6
