.H
    font-weight: bold

    // Size
    &_size_1
        @include font-xxl
        margin: 0 0 32px
        @include from-tab
            @include font-xxxl
    &_size_2
        @include font-xl
        margin: 0 0 16px
        @include from-tab
            @include font-xxl
    &_size_3
        @include font-l
        margin: 0 0 16px
        @include from-tab
            @include font-xl
