// Variables
$handle-size: 30px

// Mixins
@mixin slider-disabled-overlay
    &:after
        content: ''
        height: 100%
        left: -($handle-size / 2)
        position: absolute
        top: 0
        width: calc(100% + #{$handle-size})

.Slider
    margin-top: 20px
    position: relative

    // Size
    &_size_s
        height: $handle-size
    &_size_s#{&}_disabled,
    &_size_s#{&}_readonly
        @include slider-disabled-overlay
    &_size_m
        height: $handle-size
    &_size_m#{&}_disabled,
    &_size_m#{&}_readonly
        @include slider-disabled-overlay

    // Type
    &_type_primary
    &_type_secondary

.Slider__Rail
    border-bottom: 1px solid $color-default
    box-sizing: border-box
    height: 2px
    position: relative
    top: 0
    transform: translateY(-1px)

    // Size
    &_size_s
    &_size_m

    // Type
    &_type_primary
    &_type_secondary

.Slider__Track
    height: 2px

    // Size
    &_size_s
    &_size_m

    // Type
    &_type_primary
        background-color: $color-primary
    &_type_primary#{&}_disabled,
    &_type_primary#{&}_readonly
        background-color: lighten($color-primary, 20%)
    &_type_secondary
        background-color: $color-secondary
    &_type_secondary#{&}_disabled,
    &_type_secondary#{&}_readonly
        background-color: lighten($color-secondary, 20%)

.Slider__HandleWrapper
    @include size($handle-size)
    align-items: center
    cursor: grab
    display: flex
    justify-content: center
    margin-left: -15px
    position: absolute
    top: -50%
    touch-action: pan-x
    border: none
    background-color: transparent
    padding: 0
    z-index: 1
    &:active
        cursor: grabbing
        & > *
            @include box-shadow-m($color-default)

.Slider__Handle
    @include box-shadow-s($color-default)
    border-color: $color-white
    border-style: solid
    border-radius: 50%
    box-sizing: border-box
    display: block

    // Size
    &_size_s
        @include size(18px)
        border-width: 2px
    &_size_m
        @include size(24px)
        border-width: 3px

    // Type
    &_type_primary
        background-color: $color-primary
    &_type_primary#{&}_disabled,
    &_type_primary#{&}_readonly
        background-color: lighten($color-primary, 20%)
    &_type_secondary
        background-color: $color-secondary
    &_type_secondary#{&}_disabled,
    &_type_secondary#{&}_readonly
        background-color: lighten($color-secondary, 20%)
