@import ../../mixins/index
@import ../../variables/index

.SuggestOption
    @include no-tap-highlight
    cursor: pointer
    font-weight: 300
    list-style-type: none
    margin: 0
    position: relative

    i
        color: $color-secondary
        font-style: normal

    &_active
        background-color: lighten($color-default, 30%)

    &_value
        background-color: $color-secondary
        color: $color-white
        i
            color: $color-white
    &_value#{&}_size_s
        &:before
            @include size(4px)
            left: 12px
            margin-top: -2px
    &_value#{&}_size_m
        &:before
            @include size(6px)
            left: 16px
            margin-top: -3px

    &_disabled
        cursor: not-allowed
        opacity: 0.4

    &_size_s
        @include font-s
        padding: 10px 8px
    &_size_m
        @include font-m
        padding: 14px 10px
