@import ../../mixins/index
@import ../../variables/breakpoints
@import mixins

.Button
    border: 2px solid transparent
    box-shadow: none
    cursor: pointer
    max-width: 100%
    padding: 0
    transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out, color 0.2s ease-in-out
    &:focus
        outline: none

    &[disabled]:not(&_processing)
        background-color: lighten($color-grey, 67%)
        border-color: lighten($color-grey, 40%)
        color: rgba($color-text-primary, 0.7)
        cursor: default

    // Type: default
    &_type_default
        @include button-border($color-text-primary, 10, 10, 20)
        @include button-color($color-text-primary, 10, 10, 20)
        background-color: $color-white

        .Button__Spin > div
            border-top-color: $color-black
            opacity: 1

    // Type: primary
    &_type_primary
        @include button-background($color-primary)
        @include button-border($color-primary)
        color: $color-white

        .Button__Spin > div
            border-top-color: $color-white

    // Type: secondary
    &_type_secondary
        @include button-border($color-primary)
        @include button-color($color-primary)
        background-color: $color-white

        .Button__Spin > div
            border-top-color: $color-primary

    // Size
    &_size_s
        border-radius: 15px
        font-size: $font-size-s
        .Button__Container
            padding: 5px 16px
        .Button__IconLeft
            margin-left: -3px
        .Button__IconRight
            margin-right: -3px
        // Tab
        @media (min-width: $tab-min)
            border-radius: 20px
            font-size: $font-size-m
            .Button__Container
                padding: 8px 23px 9px

    &_size_m
        border-radius: 20px
        font-size: $font-size-m
        .Button__Container
            padding: 8px 23px 9px
        .Button__IconLeft
            margin-left: -4px
        .Button__IconRight
            margin-right: -4px
        // Tab
        @media (min-width: $tab-min)
            border-radius: 25px
            font-size: $font-size-l
            .Button__Container
                padding: 12px 31px 13px

    &_size_l
        border-radius: 28px
        font-size: $font-size-l
        .Button__Container
            padding: 15px 31px 16px
        .Button__IconLeft
            margin-left: -5px
        .Button__IconRight
            margin-right: -5px
        // Tab
        @media (min-width: $tab-min)
            border-radius: 35px
            font-size: $font-size-xl
            .Button__Container
                padding: 21px 31px

    // Processing
    &_processing
        cursor: default
        .Button__Content,
        .Button__IconLeft,
        .Button__IconRight
            opacity: 0

    // Block
    &_block
        display: block
        width: 100%

.Button__Container
    align-items: center
    box-sizing: border-box
    display: flex
    justify-content: space-between
    position: relative

    &_no-icons
        justify-content: center

.Button__Content
    display: inline
    flex-grow: 1
    overflow: hidden
    text-overflow: ellipsis
    white-space: nowrap

.Button__IconLeft,
.Button__IconRight
    & > span
        display: block

.Button__IconLeft
    margin-right: 5px

.Button__IconRight
    margin-left: 5px

.Button__Spin
    align-items: center
    display: flex
    height: calc(100% + 4px)
    justify-content: center
    left: -2px
    position: absolute
    top: -2px
    width: calc(100% + 4px)

    &:after
        background-color: $color-white
        content: ''
        height: 100%
        left: 0
        opacity: 0.5
        position: absolute
        top: 0
        width: 100%

    & > div
        opacity: 0.6

// Type: circle
.Button_type_circle
    @include button-background($color-primary)
    @include button-border($color-primary)
    background-color: $color-primary
    border-radius: 50%
    color: $color-white
    position: relative
    overflow: hidden

    .Button__Spin > div
        border-top-color: $color-white
    & > *
        position: absolute
        left: 50%
        top: 50%
        transform: translate(-50%, -50%)

.Button_type_circle.Button_size_s
    @include size(35px)
.Button_type_circle.Button_size_m
    @include size(45px)
.Button_type_circle.Button_size_l
    @include size(69px)
