@import ../../mixins/index

@mixin button-background($color, $hoverP: 10, $focusP: 10, $activeP: 20)
    background-color: $color
    &:not([disabled]):not([processing])
        &:hover
            background-color: lighten($color, $hoverP)
        &:focus
            background-color: lighten($color, $focusP)
        &:active
            background-color: lighten($color, $activeP)

@mixin button-border($color, $hoverP: 10, $focusP: 10, $activeP: 20)
    border-color: $color
    &:not([disabled]):not([processing])
        &:hover
            border-color: lighten($color, $hoverP)
        &:focus
            border-color: lighten($color, $focusP)
        &:active
            border-color: lighten($color, $activeP)

@mixin button-color($color, $hoverP: 10, $focusP: 10, $activeP: 20)
    color: $color
    &:not([disabled]):not([processing])
        &:hover
            color: lighten($color, $hoverP)
        &:focus
            color: lighten($color, $focusP)
        &:active
            color: lighten($color, $activeP)
